.treeheader {
    position: absolute;
    top: 68%;
    font-size: 0.6rem;
}
.stacked-cards .slider .item.active .actions {
    z-index: 10;
    background: rgba(200, 200, 200, 0.7);
    visibility: visible;
}
.stacked-cards .slider .item .actions {
    margin-top: -35px;
    z-index: -1;
    visibility: hidden;
}
.stacked-cards .slider .item:not(.active) .delete-button {
    z-index: -1;
    visibility: hidden;
}
.modal .custom-modal-close {
    position: absolute;
    right: 10px;
    top: 5px;
    background: red;
    padding: 5px 10px;
    border-radius: 100%;
    color: white;
}
.modal picture.profile-country-img {
    margin: auto;
    width: 20%;
    position: absolute;
    height: auto;
    left: 40%;
}
.modal .profile-info-row {
    margin-top: -80px;
}
.modal .caption .caption-social a {
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 100%;
    color: #007bff !important;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.modal .caption .caption-social img {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 100%;
}
.modal .modal-profile-country {
    border-radius: 100%;
    position: absolute;
    right: 0;
    left: unset;
    top: unset;
    bottom: 0;
    width: 60px;
    height: 60px;
    z-index: 6;
    border: 3px solid #ddd;
}
.modal .user-left-col {
    width: 33%;
    padding: 0.3rem 0.75rem;
}
.modal .user-right-col {
    width: 66%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0.3rem 0.75rem;
}
.border-separate {
    border-collapse: separate;
}
.modal .caption .user-name {
    margin-top: 20px;
}
.modal .caption .caption-social {
    margin-top: 10px;
}
.ontop-change {
    position: absolute;
    top: -20%;
    z-index: 5;
    font-size: 1.2em;
    background-color: white !important;
}
.profile-icon-img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}
.profile-icon-img.for-hover {
    display: none;
}
.profile-icon-container {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #cd1227;
    position: inherit;
    top: 12%;
    padding: 4px;
    color: white;
    font-size: 1.1em;
    line-height: 25px;
}
.custom-progress {
    background: white;
    border: 2px solid #ccc;
}
@media (min-width: 576px) {
    .treeheader {
        font-size: 0.8rem;
    }
}
.countriesImages {
    width: 100%;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
}
.countriesImages img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #fff;
}
.profile-header {
    background: #fff;
    display: flex;
    height: auto;
    max-height: 400px;
    position: relative;
    background-color: #96948d;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
    margin-top: -2%;
}
picture.profile-country-img {
    width: 15%;
    height: 54%;
    margin-left: 300px;
    margin-top: 48px;
}
.profile-img h4 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    padding-left: 10px;
}
#profile-info > .socialDiv {
    text-align: center;
}
/*We will use ::before and ::after to draw the connectors*/

.familyTree li::before,
.familyTree li::after {
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc;
    width: 50%;
    height: 20px;
}
.familyTree li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without
    any siblings*/
.familyTree li:only-child::after,
.familyTree li:only-child::before {
    display: none;
}

/*Remove space from the top of single children*/
.familyTree li:only-child {
    padding-top: 0;
}

/*Remove left connector from first child and
    right connector from last child*/
.familyTree li:first-child::before,
.familyTree li:last-child::after {
    border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.familyTree li:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
.familyTree li:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.familyTree ul ul::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 20px;
}

.familyTree li a {
    border: 1px solid #ccc;
    padding: 3px 5px;
    text-decoration: none;
    color: #000 !important;
    font-family: arial, verdana, tahoma;
    font-size: 13px;
    font-weight: 300;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.familyTree li a:hover,
.familyTree li a:hover + ul li a {
    background: #c8e4f8;
    color: #000;
    border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.familyTree li a:hover + ul li::after,
.familyTree li a:hover + ul li::before,
.familyTree li a:hover + ul::before,
.familyTree li a:hover + ul ul::before {
    border-color: #94a0b4;
}
/*Thats all. I hope you enjoyed it.
    Thanks :)*/
.profile-head {
    background: #fff;

    display: flex;
    height: 190px;
    position: relative;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}

.profile-image-container {
    width: 160px;
    height: 160px;
}
#profileImage {
    /*float: left;*/
    border-radius: 50%;
    /*margin-top: 90px;*/
    /*margin-left: 60px;*/
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}
.profile-img #profile-image {
    border-radius: 50%;
    height: 100%;
    top: 0;
    width: 100%;
    border: 5px solid #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px 5px #e0e0e0;
    z-index: 5;
    background: #fff;
}
#profile-info > h2 {
    text-align: center;
}
#firstMedia {
    margin-top: -6em;
    cursor: pointer;
    position: relative;
}

#firstMedia img,
#firstMedia video {
    border-radius: 2vw;
    box-shadow: 0px 0px 0px 2px #c0c0c0;
    background-color: #000 !important;
    /*width: 60%;*/
}

#firstMedia figcaption {
    width: 100%;
    background-color: brown;
    color: #fff;
    text-align: center;
    height: 10%;
    border: 1px solid black;
    font-size: 1.5em;
    padding: 1.5%;
    margin: 1% 0%;
}

#firstMedia figcaption a {
    font-size: 0.8em !important;
}

#firstMedia figcaption span {
    margin: 0% 4%;
}

#firstMedia > span {
    position: absolute;
    /*left: 62%;*/
    /*top: 74%;*/
    font-size: 1.1em;
    margin-top: 260px;
    /*z-index: 1000;*/
}
.main-bd {
    width: 100%;
    display: flex;
    padding-right: 15px;
}
.mobile-no i {
    color: #e40046;
    font-size: 1.3em;
}
.profile-body {
    background-color: #ffffff;
    width: 100%;
    z-index: -1;
    border-bottom-left-radius: 4vh;
    border-bottom-right-radius: 4vh;
}
@media (max-width: 1100px) {
    .profile-img img {
        height: 200px;
        width: 200px;
        left: 50px;
        top: 50px;
    }
}
@media (max-width: 900px) {
    body {
        margin: 0;
    }
    .profile-header {
        display: flex;
        height: 100%;
        flex-direction: column;
        text-align: center;
        padding-bottom: 20px;
    }
    .profile-img img {
        position: relative;
        height: 200px;
        width: 200px;
        left: 0px;
    }
    .main-bd {
        flex-direction: column;
        padding-right: 0;
    }
}
.familyTree {
    margin: auto;
    padding: 0;
    position: absolute;
    margin: auto;
    display: block;
    top: 0;
    float: none;
    text-align: center;
}
.familyTree ul {
    padding-top: 20px;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.familyTree li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 15px 15px 10px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.familyTree li a.wanted {
    border: 5px solid rgb(6 135 126 / 74%);
    border-bottom: 15px solid rgb(6 135 126 / 74%);
    box-shadow: 0 0 19px 13px rgb(6 135 126 / 74%);
}
#toggleTree {
    background-color: #cd1227 !important;
    color: #fff;
    margin-left: 44%;
    border: 1px solid brown;
    border-radius: 2vh;
    padding: 1em;
    font-size: 1.3em;
    cursor: pointer;
    font-weight: bold;
}
#userInfo {
    text-align: center !important;
    border-bottom: 1px solid #ddd;
    /*background-color: black;*/
}
.brown {
    background-color: brown;
}
.treeParent::-webkit-scrollbar {
    /*height: 50%;*/
    margin: 0px 40px;
    width: 50%;
    background-color: #f5f5f5;
}
.treeParent {
    position: relative;
    display: block;
    margin: auto;
    text-align: center;
    width: 100%;
}
.treeParent::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #ccc;
}

.treeParent::-webkit-scrollbar {
    /*height: 50%;*/
    margin: 0px 40px;
    width: 50%;
    background-color: #f5f5f5;
}

.treeParent::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
}
.family-tree-container.fullscreen .treeParent {
    background: white;
}
.treeParent.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}
#familyDesc {
    padding: 1em;
    text-align: center;
    border: 1px solid white;
    border-radius: 2vh;
    box-shadow: 0px 7px 10px 0px #cccccc61;
}
#familyDesc p {
    text-align: center;
    font-size: 1.5em;
}

#familyMedia {
    float: left;
    position: inherit;
    margin-top: 5vh;
    height: auto;
    width: 100%;
}
#familyMedia a,
#familyActions a {
    position: inherit;
    left: 0.5vw;
    right: 0.5vw;
    height: auto;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    border: 2px solid #ffa897;
    border-radius: 2em / 2em;
    padding: 0;

}

#familyActions a:nth-child(1) {
    top: 4%;
}

#familyMedia a:nth-child(1) {
    top: 10%;
}

#familyMedia a:nth-child(2) {
    top: 55%;
}

#familyActions a:nth-child(2) {
    top: 28%;
}

#familyActions a:nth-child(3) {
    top: 53%;
}

#familyActions a:nth-child(4) {
    top: 77%;
}

#familyActions a:nth-of-type(odd), #familyMedia a:nth-of-type(odd) {
    background-color: #EFEFEF;
}

#familyMedia i,
#familyMedia span,
#familyActions i,
#familyActions span {
    color: black;
    font-size: 0.85em;
}

#familyMedia span,
#familyActions span {
    position: inherit;
    left: 23%;
    top: 28%;
}

#familyActions a:hover .profile-icon-container,
#familyMedia a:hover .profile-icon-container {
    background: white;
}
#familyActions a:hover {
    background: #cd1227;
}
#familyActions a:hover .profile-icon-img:not(.for-hover),
#familyMedia a:hover .profile-icon-img:not(.for-hover) {
    display: none;
}
#familyActions a:hover .profile-icon-img.for-hover,
#familyMedia a:hover .profile-icon-img.for-hover {
    display: inline-block;
}

#familyActions a:hover > span {
    color: white;
}

#familyActions a:hover > i {
    background-color: white;
    color: #cd1227;
}
.familyMedia {
    position: relative;
    padding-top: 8em;
    width: 90%;
    height: 68vh;
    margin: auto;
    background-color: white !important;
    border-radius: 6vh;
}

.familyMedia .row .one {
    width: 23%;
    margin: auto;
    cursor: pointer;
}

.familyMedia .row img,
.familyMedia .row video {
    width: 80%;
    opacity: 0.6;
}

.familyMedia .row .active img,
.familyMedia .row .active video {
    opacity: 1;
}

.familyMedia .media {
    float: left;
    width: 20%;
    border-radius: 3vw;
    box-shadow: 0px 0px 0px 2px #c0c0c0;
}

.familyMedia .media img {
    width: 80%;
    height: 25vh;
}

.familyMedia::after {
    content: "";
    clear: both;
    display: table;
}
#familyActions {
    margin-top: 0;
    height: auto;
    width: 100%;
    cursor: pointer;
}
.profile-nav-link {
    background-color: #cd1227 !important;
}
.profile-nav-link.active {
    background-color: #6d071f !important;
}

#treeDiv-shadow {
    height: 1px;
}
.family-tree-container {
    width: 86%;
    border-radius: 10px;
    padding-bottom: 3px;
    margin: 0% 7% 5% 7% !important;
    /* border: 1px solid #e7e3e3 !important; */
}
.family-tree-container.fullscreen {
    border: 0 !important;
    width: 100%;
    margin: 0 !important;
    border-radius: 0;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: white;
}
.family-tree-title {
    font-size: 2.5rem;
}
.profile-images-container {
    width: 160px;
    height: 160px;
    left: calc((100% - 160px) / 2);
}
.action-button {
    border: 0;
    background-color: #cd1227;
    border-radius: 100%;
    padding: 12px 15px !important;
    font-size: 1.3em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.family-tree-controls {
    padding: 0 !important;
    margin: 0 4px;
    width: 40px;
    height: 40px;
}
.tree-search-form input {
    border: 1px solid;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-color: #495057;
    background-color: #efefef !important;
}
.tree-search-form input:focus {
    background-color: #efefef !important;
    border-color: #495057;
    outline: 0;
    box-shadow: none;
}
.tree-search-form button {
    color: #cd1227;
    border-color: #495057;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
    background-color: #efefef;
}
.plan-button_up {
    position: relative;
    display: block;
    line-height: 40px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background: #cd1126;
    border-bottom: 2px solid #cf7e3b;
    border-color: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}