<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        p {
          font-size: 16px;
          font-family: "Metropolis";
          margin-bottom: 0;
          color: #1f2b36;
        }
        p strong {
          margin-top: 20px;
          display: block;
        }
    </style>
        <p><strong style="font-size: 22px">1. Our Data Policy and Your Privacy Choices</strong></p>
        
        <p>To provide the Products, you are giving Alhamayel permission and consent to collect and store information that you provide.</p>
        
        <p><strong>Information and content you provide:</strong></p>
        
        <p>We collect the content, communications, and other information you provide when you use our Products, including when you sign up for an account, create or share content, and message or communicate with others on our platform. This can include information in or about the content you provide (e.g., metadata), such as the location of a photo or the date a file was created. We also collect contact information if you choose to upload, sync, or import it from a device (such as an address book or call log or SMS log history), which we use to help you and others find people you may know and for the other purposes listed below. By using our Products, you are providing us permission to do so.</p>
                
        <p>You can choose to provide information in your Alhamayel profile fields or Life Events. Please ensure that any information you provide is in accordance with the laws and regulations of your country.</p>
        
        <p><strong>Hosting platforms:</strong></p>
        
        <p>Your information may be stored on a hosting platform. Alhamayel shall ensure that any hosting company shall adhere to the appropriate laws and regulations.</p>
        
        <p><strong>Information on transactions made for our Products:</strong></p>
        
        <p>We collect information on the purchase or transaction in relation to our Products. This includes payment information, such as your credit or debit card number and other card information other account and authentication information, and billing, shipping, and contact details. By providing us with this information you are providing your consent to allow us to collect and store such information.</p>
        
        <p><strong>Third-Party:</strong></p>
        
        <p>Our Products may contain links to third-party&rsquo;s applications websites and online services that are not owned or controlled by us, and we have no control over and assume no responsibility for, such portals, websites, or online services and their content nor can we guarantee the accuracy, completeness, or timeliness of their information. We recommend you read the terms and privacy policy of each third party that you visit.</p>
        
        <p><strong>Sharing from a third party:</strong></p>
        
        <p>Prior to sharing any content or links from any third party&rsquo;s applications, websites, or platforms, please ensure you have adhered to their terms and conditions and are not in breach of any laws, regulations, or intellectual property rights.</p>
        
        <p><strong>Product research and development:</strong></p>
        
        <p>We use the information we must develop, test, and improve our Products, including by conducting surveys and research, and testing and troubleshooting new products and features.</p>
        
        <p><strong>Communicate with you:</strong></p>
        
        <p>We use the information we must send you marketing communications, communicate with you about our Products, and let you know about our policies and terms if you chose to do so. We also use your information to respond to you when you contact us.</p>
        
        <p><strong style="font-size: 22px">2. People and accounts you share and communicate with:</strong></p>
        
        <p><strong>Public information:</strong></p>
        
        <p>Information that has been categorized as &ldquo;public&rdquo; can be seen by anyone, on or off our Products, including if they do not have an account. This includes your username; any information you share with a public audience; information on your public profile on Alhamayel; and content you share on an Alhamayel Page or any other public forum. You, other people using Alhamayel, and we can provide access to or send public information to anyone on or off our Products, including in other Alhamayel Products. It is important to note that public information can also be seen, accessed, reshared, or downloaded through third-party services such as search engines, APIs, and offline media such as TV, and by apps, websites, and other services that integrate with our Products.</p>
        
        <p><strong>Content others share or reshare about you:</strong></p>
        
        <p>You should consider who you choose to share with or allow access to your account, because people who can see your activity on our Products can choose to share it with others on and off our Products, including people outside the audience you shared with. For example, when you share a post or send a message to specific friends or accounts, they can download, screenshot, or re-share that content to others across or off our Products, in person, or in virtual reality experiences. Also, when you comment on someone else&#39;s post or react to their content, your comment or reaction is visible to anyone who can see the other person&#39;s content, and that person can change the audience later.</p>
        
        
        
        <p>People can also use our Products to create and share content about you with the audience they choose. For example, people can share a photo of you in a Story, mention or tag you at a location in a post or share information about you in their posts or messages. Therefore, it is important to manage your privacy settings profile in your account and who gains access to the account on this website. Such settings are at your own discretion and are not under the control of Alhamayel or any of its Products.</p>
        
        <p><strong>Information about your active status or presence on our Products:</strong></p>
        
        <p>People in your networks can see signals telling them whether you are active on our Products, including whether you are currently active on Alhamayel, or when you last used our Products.</p>
        
        
        
        <p>Devices and operating systems providing native versions of Alhamayel (i.e., where we have not developed our own first-party apps) will have access to all information you choose to share with them, including information your friends share with you, so they can provide our core functionality to you.</p>
        
        <p><strong>How do the Alhamayel Companies work together?</strong></p>
        
        <p>Alhamayel and On Air Commerce other solutions share infrastructure, systems, and technology with other Alhamayel companies to provide an innovative, relevant, consistent, and safe experience across all Products you use. For example, we process information about accounts sending spam on its service so we can take appropriate action against those accounts on Alhamayel. We also work to understand how people use and interact with the Products, such as understanding the number of unique users on different Products.</p>
        
        <p><strong>How can I manage or delete information about myself?</strong></p>
        
        <p>We store data until it is no longer necessary to provide our services and Products, or until your account is deleted - whichever occurs first. This is a case-by-case determination that depends on things such as the nature of the data, why and when it was stored, and relevant legal or operational retention requirements. When you delete your account, we delete things you have posted, such as your photos and status updates, and you won&#39;t be able to recover that information later. Information that others have shared about you isn&#39;t part of your account and won&#39;t be deleted.</p>
        
        
        
        <p>If you don&#39;t want to delete your account but want to temporarily stop using the Products, you can deactivate your account instead. To delete your account at any time, please visit the Alhamayel Settings.</p>
        
        <p><strong>How do we respond to legal requests or prevent harm?</strong></p>
        
        <p>We shall only access and share your information with regulators, law enforcement or others:</p>
        
        
        
        <p>In response to a legal request (such as a search warrant, court order or subpoena) if in good faith we believe that the law requires us to do so. This may include responding to legal requests from jurisdictions outside of the Kingdom of Bahrain ensuring it is consistent with internationally recognized standards.</p>
        
        
        
        <p>When in good faith we believe that it is necessary to: detect, prevent and address fraud, unauthorized use of Alhamayel or its Products, violations of our terms or policies, or other harmful or illegal activity; to protect ourselves (including our rights, property, or Products), you or others, including as part of investigations or regulatory inquiries.</p>
        
        
        
        <p>Information we receive about you (including financial transaction data related to purchases made with Alhamayel) can be accessed and preserved for an extended period when it is the subject of a legal request or obligation, governmental investigation, or investigations of possible violations of our terms or policies, or otherwise to prevent harm. We also retain information from accounts disabled for terms violations for at least a year to prevent repeat abuse or other term violations.</p>
        
        <p><strong style="font-size: 22px">3. Your Commitments to Alhamayel and Our Community:</strong></p>
        
        <p>We provide these services to you and others to help advance our mission.</p>
        
        <p>Therefore, you undertake that you will:</p>
        
        
        
        <p>Use the same name that you use in everyday life.</p>
        
        
        
        <p>Provide accurate information about yourself and any of your family members. In the event you are providing information related to family members please ensure you have their permission to do so.</p>
        
        
        
        <p>Create only one account (your own) and use your timeline for personal purposes.</p>
        
        
        
        <p>Not share your password, give access to your Alhamayel account to others, or transfer your account to anyone else (without our permission).</p>
        
        <p><strong>What you can share and do on Alhamayel :</strong></p>
        
        <p>You agree not to engage or use our Products in the conduct described below (or to facilitate or support others in doing so):/p&gt;</p>
                
        <p>That violates these Terms, and other terms and policies that apply to your use of Alhamayel.</p>
        
        <p>That is unlawful, misleading, discriminatory, or fraudulent.</p>
        
        <p>That infringes or violates someone else&#39;s rights.</p>
                
        <p>Any form of racism act.</p>

        <p>You shall not upload viruses or malicious code or do anything that could disable, overburden, or impair the proper working or appearance of our Products. You may not access or collect data from our Products using automated means (without our prior permission) or attempt to access data you do not have permission to access.</p>
        
        <p>We can remove content you share in violation of these provisions and, if applicable, we may act against your account, for the reasons described below. We may also disable your account if you repeatedly infringe other people&#39;s intellectual property rights. To improve our family trees, we request that only actual information can be added, the website can ask for any type of identification in case of a dispute.</p>
        
        <p><strong style="font-size: 22px">4. Permissions you give us:</strong></p>
        
        <p>We need certain permissions from you to provide our services:</p>
        
        <p><strong>Permission to use the content you create and share:</strong></p>
        
        <p>You own the content you create and share on Alhamayel and the other Products you use, and nothing in these Terms removes the rights you have to your own content. You are free to share your content with anyone else. To provide our services, you will be giving us legal permission to use this content for the purposes of Alhamayel and its Products.</p>
        
        
        
        <p>Specifically, when you share, post, or upload content that is covered by intellectual property rights (like photos or videos) on or in connection with our Products, you grant us a non-exclusive, transferable, sub-licensable, royalty free, and worldwide license to host, use, distribute, modify, run, copy, publicly perform or display, translate, and create derivative works of your content (consistent with your privacy and application settings). This means, for example, that if you share a photo on Alhamayel, you give us permission to store, copy, and share it with others (again, consistent with your settings) such as service providers that support our service or other Products you use.</p>
        
        
        
        <p>You can end this license at any time by deleting your content or account. You should know that, for technical reasons, content you delete may persist for a limited period in backup copies (though it will not be visible to other users). In addition, content you delete may continue to appear if you have shared it with others and they have not deleted it.</p>
        
        <p><strong>Permission to update software you use or download:</strong></p>
        
        <p>If you download or use our software, you give us permission to download and install upgrades, updates, and additional features to improve, enhance, and further develop it.</p>
        
        <p><strong>Limits on using our intellectual property:</strong></p>
        
        <p>If you use content covered by intellectual property rights that we have and make available in our Products (for example, images, designs, videos, or sounds we provide that you add to content you create or share on Alhamayel ), we retain all rights to that content (but not yours). You can only use our copyrights or trademarks (or any similar marks) with our prior written permission. You must obtain our written permission (or permission under an open-source license) to modify, create derivative works of, decompile, or otherwise attempt to extract source code from us.</p>
        
        <p><strong style="font-size: 22px">5. Changes to our Terms:</strong></p>
        
        <p>We work constantly to improve our services and develop new features to make our Products better for you and our community. As a result, we may need to update or change these Terms from time to time to accurately reflect our services and practices. Unless otherwise required by law, we will notify you before we make changes to these Terms and allow you the opportunity to review them before they go into effect. Once any updated Terms are in effect, you will be bound by them if you continue to use Alhamayel and our Products.</p>
        
        
        
        <p>We hope that you will continue using our Products, but if you do not agree to our updated Terms and no longer want to be a part of the Alhamayel community, you can delete your account at any time.</p>
        
        <p><strong style="font-size: 22px">6. Account suspension or termination:</strong></p>
        
        <p>We want Alhamayel to be a place where people feel welcome and safe to express themselves and share their thoughts and ideas.</p>
        
        
        
        <p>If we determine that you have violated our terms or policies, we may take immediate action against your account to protect our community and services or we reasonably believe there has been conducting that creates liability or harm to any user, another third party, including by suspending access to your account or disabling it. We may also immediately suspend or disable your account if you create risk or legal exposure for us or when we are permitted or required to do so by law. Where appropriate, we will notify you about your account the next time you try to access it.</p>
        
        
        
        <p>If you delete or we disable your account, these Terms shall terminate as an agreement between you and us. However please note that in the event the account was disabled by us you will have the opportunity to retrieve information from your account within 30 days from the date it is disabled. Upon the lapse of the 30 days period, the information will be permanently deleted.</p>
        
        
        
        <p>In addition, Alhamayel has the right to terminate this platform or any of its Products and any of its services and shall endeavor to provide reasonable notice to you and arrange to pay you back the remaining balance of your active annual membership fee when the circumstance allows us to do so.</p>
        
        <p><strong style="font-size: 22px">7. Limitations on liability:</strong></p>
        
        <p>We work hard to provide the best products we can and to specify clear guidelines for everyone who uses them. Our Products, however, are provided &quot;as is,&quot; and we make no guarantees that they always will be safe, secure, or error-free, or that they will function without disruptions, delays, or imperfections. We do not make any promises about the content provided or its accuracy, reliability, availability, or ability to meet your needs. To the extent permitted by law, we also DISCLAIM ALL WARRANTIES, WHETHER EXPRESS OR IMPLIED, INCLUDING THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, and NON-INFRINGEMENT. We do not control or direct what people and others do or say, and we are not responsible for their actions or conduct (whether online or offline) or any content they share (including offensive, inappropriate, obscene, unlawful, and other objectionable content).</p>
        
        
        
        <p>We cannot predict when issues might arise with our Products. Accordingly, our liability shall be limited to the fullest extent permitted by applicable law, and under no circumstance will we be liable to you for any lost profits, revenues, information, or data, costs, expenses or consequential, special, indirect, exemplary, punitive, or incidental damages arising out of or related to these Terms or the Alhamayel Products.</p>
        
        <p><strong style="font-size: 22px">8. Disputes:</strong></p>
        
        <p>We try to provide clear rules so that we can limit or hopefully avoid disputes between you and us. If a dispute does arise, the laws of the Kingdom of Bahrain will apply to any claim, cause of action, or dispute you have against us that arises out of or relates to these Terms or the Products (&quot;Claim&quot;), and you may resolve your Claim in the courts of the Kingdom of Bahrain.</p>
        
        
        
        <p>If any portion of these Terms is found to be unenforceable, the remaining portion will remain in full force and effect. If we do not enforce any of these Terms, it will not be considered a waiver. Any amendment to or waiver of these Terms must be made in writing and signed by us.</p>
        
        <p><strong style="font-size: 22px">9. Additional Provisions:</strong></p>
        
        <p>You will not transfer any of your rights or obligations under these Terms to anyone else without our consent. These Terms do not confer any third-party beneficiary rights. All our rights and obligations under these Terms are freely assignable by us in connection with a merger, acquisition, or sale of assets, or by operation of law or otherwise.</p>
        
        
        
        <p>If the ownership or control of all or part of our Products or their assets changes, we may transfer your information to the new owner with the same terms and conditions.</p>
        
        
        
        <p>You should know that we may need to change the username for your account in certain circumstances (for example, if someone else claims the username and it appears unrelated to the name you use in everyday life)./p&gt;</p>
        
        
        
        <p>We always appreciate your feedback and other suggestions about our products and services. But you should know that we may use them without any restriction.</p>
        
        
        
        <p>We reserve all rights not expressly granted.</p>
        
        <p>The use of this service is subject to these terms. When selecting the OK sign, you confirm that you have read, understood, and agreed to all the above terms.</p>
</body>
</html>