<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <style>
    p {
      font-size: 16px;
      font-family: "Metropolis";
      margin-bottom: 0;
      color: #1f2b36;
      direction: rtl;
      font-family: "Cairo";
    }

    p strong, p b {
      margin-top: 20px;
      display: block;
    }
  </style>

  <p><strong style="font-size: 22px">‫‪ -١‬ﺳﻴﺎﺳﺔاﻟﺒﻴﺎﻧﺎت اﻟﺘﻲ ﻧﺘﺒﻌﻬﺎ واﺧﺘﻴﺎرات اﻟﺨﺼﻮﺻﻴﺔ اﻟﻤﺘﻮﻓﺮة ﻟﻚ‬</strong></p>

  <p>‫ﺣﺘــﻰ ﻧﺘﻤﻜــﻦ ﻣــﻦ ﺗﻮﻓﻴــﺮ ﻣﻨﺘﺠــﺎت اﻟﺤﻤﺎﻳــﻞ‪ ،‬ﻓﻌﻠﻴــﻚ أن ﺗﻤﻨــﺢ اﻟﺤﻤﺎﻳــﻞ اﻹذن واﻟﻤﻮاﻓﻘــﺔ ﻋﻠــﻰ ﺟﻤــﻊ
    وﺗﺨﺰﻳــﻦ‬ ‫اﻟﻤﻌﻠﻮﻣﺎت اﻟﺘﻲ ﺗﻘﺪﻣﻬﺎ‪.‬‬</p>

  <p><b>اﻟﻤﻌﻠﻮﻣﺎت وﻋﻨﺎﺻﺮ اﻟﻤﺤﺘﻮى اﻟﺘﻲ ﺗﻘﺪﻣﻬﺎ‪ </b></p>

  <p>‫ﻧﺠﻤــﻊ ﻋﻨﺎﺻــﺮ اﻟﻤﺤﺘــﻮى واﻻﺗﺼــﺎﻻت واﻟﻤﻌﻠﻮﻣــﺎت اﻷﺧــﺮى اﻟﺘــﻲ ﺗﻮﻓﺮﻫــﺎ ﻋﻨــﺪ اﺳــﺘﺨﺪام ﻣﻨﺘﺠﺎﺗﻨــﺎ‪ ،‬ﺑﻤــﺎ ﻓــﻲ
    ذﻟــﻚ ﻋﻨــﺪ‬ ‫ﻗﻴﺎﻣــﻚ ﺑﺎﻟﺘﺴــﺠﻴﻞ ﻟﻠﺤﺼــﻮل ﻋﻠــﻰ ﺣﺴــﺎب‪ ،‬وﻋﻨــﺪ إﻧﺸــﺎء أو ﻣﺸــﺎرﻛﺔ اﻟﻤﺤﺘــﻮى‪ ،‬وﻣﺮاﺳــﻠﺔ اﻵﺧﺮﻳــﻦ
    واﻟﺘﻮاﺻــﻞ ﻣﻌﻬــﻢ‪,‬‬ ‫وﻳﻤﻜــﻦ ﻟﺬﻟــﻚ أن ﻳﺘﻀﻤــﻦ اﻟﻤﻌﻠﻮﻣــﺎت اﻟﻤﻮﺟــﻮدة ﻓــﻲ اﻟﻤﺤﺘــﻮى اﻟــﺬي ﺗﻮﻓــﺮه أو ﻣﻌﻠﻮﻣــﺎت
    ﻋــﻦ ﻫــﺬا اﻟﻤﺤﺘــﻮى (=ﻛﺒﻴﺎﻧــﺎت‬ ‫اﻟﺘﻌﺮﻳــﻒ) ﻣﺜــﻞ ﻣﻮﻗــﻊ ﺻــﻮرة وﺗﺎرﻳــﺦ إﻧﺸــﺎء اﻟﻤﻠــﻒ وﻧﺠﻤــﻊ ً‬ ‫أﻳﻀــﺎ
    ﻣﻌﻠﻮﻣــﺎت اﻻﺗﺼــﺎل إذا اﺧﺘــﺮت ﺗﺤﻤﻴﻠﻬــﺎ أو ﻣﺰاﻣﻨﺘﻬــﺎ‬ ‫أو اﺳــﺘﻴﺮادﻫﺎ ﻣــﻦ ﺟﻬــﺎز (ﻣﺜــﻞ دﻓﺘــﺮ اﻟﻌﻨﺎوﻳــﻦ أو
    ﺳــﺠﻞ اﻟﻤﻜﺎﻟﻤــﺎت أو ﺳــﺠﻞ اﻟﺮﺳــﺎﺋﻞ اﻟﻘﺼﻴــﺮة) ‪ ،‬واﻟــﺬي ﻧﺴــﺘﺨﺪﻣﻪ‬ ‫ﻟﻤﺴــﺎﻋﺪﺗﻚ أﻧــﺖ واﻵﺧﺮﻳــﻦ ﻓــﻲ اﻟﻌﺜــﻮر
    ﻋﻠــﻰ اﻷﺷــﺨﺎص اﻟﺬﻳــﻦ ﻗــﺪ ﺗﻌﺮﻓﻬــﻢ وﻵﺧــﺮ اﻷﻏــﺮاض اﻟﻤﺪرﺟــﺔ أدﻧــﺎه ‪.
    ‬‬ ‫وﺑﺎﺳﺘﺨﺪام ﻣﻨﺘﺠﺎﺗﻨﺎ ‪ ،‬ﻓﺈﻧﻚ ﺗﻤﻨﺤﻨﺎ اﻹذن ﻟﻠﻘﻴﺎم ﺑﺬﻟﻚ‪.‬‬ </p>

  <br>

  <p>ﻳﻤﻜﻨــﻚ اﺧﺘﻴــﺎر ﺗﻘﺪﻳــﻢ ﻣﻌﻠﻮﻣــﺎت ﻓــﻲ ﺣﻘــﻮل ﻣﻠﻔــﻚ اﻟﺸــﺨﺼﻲ ﻋﻠــﻰ اﻟﺤﻤﺎﻳــﻞ أو ﻣﻨﺎﺳــﺒﺎت ﺷــﺨﺼﻴﺔ‪
    .‬ﻳﺮﺟــﻰ اﻟﺘﺄﻛــﺪ ﻣــﻦ ‫أن أي ﻣﻌﻠﻮﻣﺎت ﺗﻘﺪﻣﻬﺎ ﺗﺘﻮاﻓﻖ ﻣﻊ ﻗﻮاﻧﻴﻦ وأﻧﻈﻤﺔ ﺑﻠﺪك‪</p>

  <p><b> منصات الاستضافه</b></p>

  <p>‫ﻗــﺪ ﻳﺘــﻢ ﺗﺨﺰﻳــﻦ ﻣﻌﻠﻮﻣﺎﺗــﻚ ﻋﻠــﻰ ﻣﻨﺼــﺔ الاستضافه .
    ‬ﻳﺠــﺐ ﻋﻠــﻰ اﻟﺤﻤﺎﻳــﻞ اﻟﺘﺄﻛــﺪ ﻣــﻦ أي ﺷــﺮﻛﺔ ﻣﻀﻴﻔــﺔ أن ﺗﻠﺘــﺰم‬ ‫ﺑﺎﻟﻘﻮاﻧﻴﻦ واﻟﻠﻮاﺋﺢ اﻟﻤﻨﺎﺳﺒﺔ‪.‬‬</p>

  <p><b> ‫اﻟﻤﻌﻠﻮﻣﺎت اﻟﻤﺮﺗﺒﻄﺔ ﺑﺎﻟﻤﻌﺎﻣﻼت اﻟﻤﺎﻟﻴﺔ اﻟﺘﻲ ﺗﺘﻢ ﻋﻠﻰ ﻣﻨﺘﺠﺎﺗﻨﺎ</b></p>

  <p>‫ﻧﺠﻤــﻊ ﻣﻌﻠﻮﻣــﺎت ﻋــﻦ اﻟﺸــﺮاء أو اﻟﻤﻌﺎﻣﻠــﺔ ﻓﻴﻤــﺎ ﻳﺘﻌﻠــﻖ ﺑﻤﻨﺘﺠﺎﺗﻨــﺎ‪ .‬وﻫــﺬا ﻳﺸــﻤﻞ ﻣﻌﻠﻮﻣــﺎت اﻟﺪﻓــﻊ ‪
    ،‬ﻣﺜــﻞ رﻗــﻢ ﺑﻄﺎﻗــﺔ‬ ‫اﻻﺋﺘﻤــﺎن أو اﻟﺨﺼــﻢ وﻣﻌﻠﻮﻣــﺎت اﻟﺒﻄﺎﻗــﺔ اﻷﺧــﺮى ؛ ﻣﻌﻠﻮﻣــﺎت اﻟﺤﺴــﺎب واﻟﻤﺼﺎدﻗــﺔ اﻷﺧــﺮى ؛
    واﻟﻔﻮاﺗﻴــﺮ واﻟﺸــﺤﻦ‬ ‫وﺗﻔﺎﺻﻴﻞ اﻻﺗﺼﺎل‪ .‬ﺑﺘﺰوﻳﺪﻧﺎ ﺑﻬﺬه اﻟﻤﻌﻠﻮﻣﺎت ‪ ،‬ﻓﺈﻧﻚ ﺗﻘﺪم ﻣﻮاﻓﻘﺘﻚ ﻟﻠﺴﻤﺎح ﻟﻨﺎ ﺑﺠﻤﻊ وﺗﺨﺰﻳﻦ ﻫﺬه
    اﻟﻤﻌﻠﻮﻣﺎت </p>

  <p><b> ‫اﻷﻃﺮاف الثالثه</b></p>

  <p>ﻗــﺪ ﺗﺤﺘــﻮي ﻣﻨﺘﺠﺎﺗﻨــﺎ ﻋﻠــﻰ رواﺑــﻂ ﻟﺘﻄﺒﻴﻘــﺎت اﻷﻃــﺮاف اﻟﺜﺎﻟﺜــﺔ وﻣﻮاﻗــﻊ اﻟﻮﻳــﺐ واﻟﺨﺪﻣــﺎت ﻋﺒــﺮ اﻹﻧﺘﺮﻧــﺖ
    اﻟﺘــﻲ ﻻ ﻧﻤﺘﻠﻜﻬــﺎ‬ ‫أو ﻧﺘﺤﻜــﻢ ﻓﻴﻬــﺎ وﻻ ﻧﺘﺤﻜــﻢ ﻓــﻲ ﻫــﺬه اﻟﺒﻮاﺑــﺎت أو ﻣﻮاﻗــﻊ اﻟﻮﻳــﺐ أو اﻟﺨﺪﻣــﺎت ﻋﺒــﺮ
    اﻹﻧﺘﺮﻧــﺖ وﻣﺤﺘﻮاﻫــﺎ وﻻ ﻧﺘﺤﻤــﻞ أي‬ ‫ﻣﺴــﺆوﻟﻴﺔ ﻋﻨﻬــﺎ‪ .‬وﻻ ﻳﻤﻜﻨﻨــﺎ ﺿﻤــﺎن دﻗــﺔ ﻣﻌﻠﻮﻣﺎﺗﻬــﻢ أو اﻛﺘﻤﺎﻟﻬــﺎ أو ﺣﺴــﻦ
    ﺗﻮﻗﻴﺘﻬــﺎ‪ .‬ﻧﻮﺻﻴــﻚ ﺑﻘــﺮاءة اﻟﺸــﺮوط‬ ‫وﺳﻴﺎﺳﺔ اﻟﺨﺼﻮﺻﻴﺔ ﻟﻜﻞ ﻃﺮف ﺛﺎﻟﺚ ﺗﺰوره‪.‬‬</p>

  <p><b>اﻟﻤﺸﺎرﻛﺔ ﻣﻦ ﻃﺮف ﺛﺎﻟﺚ</b></p>

  <p>‫ﻗﺒــﻞ ﻣﺸــﺎرﻛﺔ أي ﻣﺤﺘــﻮى أو رواﺑــﻂ ﻣــﻦ ﺗﻄﺒﻴﻘــﺎت أو ﻣﻮاﻗــﻊ وﻳــﺐ أو ﻣﻨﺼــﺎت أي ﻃــﺮف ﺛﺎﻟــﺚ ‪ ،‬ﻳﺮﺟــﻰ
    اﻟﺘﺄﻛــﺪ ﻣــﻦ‬ ‫اﻟﺘﺰاﻣﻚ ﺑﺸﺮوﻃﻪ وأﺣﻜﺎﻣﻪ وﻋﺪم ﺧﺮق أي ﻗﻮاﻧﻴﻦ أو ﻟﻮاﺋﺢ أو ﺣﻘﻮق ﻣﻠﻜﻴﺔ ﻓﻜﺮﻳﺔ‪. </p>

  <p><b> ‫أﺑﺤﺎث وﺗﻄﻮﻳﺮ اﻟﻤﻨﺘﺠﺎت</b></p>

  <p>‫‫ﻧﺴــﺘﺨﺪم اﻟﻤﻌﻠﻮﻣــﺎت اﻟﻤﺘﻮﻓــﺮة ﻟﺪﻳﻨــﺎ ﻣــﻦ أﺟــﻞ ﺗﻄﻮﻳــﺮ ﻣﻨﺘﺠﺎﺗﻨــﺎ واﺧﺘﺒﺎرﻫــﺎ وﺗﺤﺴــﻴﻨﻬﺎ‪ ،‬ﺑﻤــﺎ ﻓــﻲ ذﻟــﻚ
    ﻣــﻦ ﺧــﻼل ﺗﻨﻔﻴــﺬ‬ ‫اﺳﺘﻄﻼﻋﺎت اﻟﺮأي واﻷﺑﺤﺎث واﺧﺘﺒﺎر اﻟﻤﻨﺘﺠﺎت واﻟﻤﻴﺰات اﻟﺠﺪﻳﺪة واﺳﺘﻜﺸﺎف اﻟﻤﺸﻜﻼت اﻟﻤﺮﺗﺒﻄﺔ ﺑﻬﺎ وﺣﻠﻬﺎ‪.
  </p>

  <p><b> اﻟﺘﻮاﺻﻞ ﻣﻌﻚ </b></p>

  <p>‫ﻧﺴــﺘﺨﺪم اﻟﻤﻌﻠﻮﻣــﺎت اﻟﻤﺘﻮﻓــﺮة ﻟﺪﻳﻨــﺎ ﻓــﻲ إرﺳــﺎل ﻣﺮاﺳــﻼت ﺗﺴــﻮﻳﻘﻴﺔ إﻟﻴــﻚ واﻟﺘﻮاﺻــﻞ ﻣﻌــﻚ ﺑﺨﺼــﻮص
    ﻣﻨﺘﺠﺎﺗﻨــﺎ‬ ‫واﻃﻼﻋﻚ ﻋﻠﻰ ﺳﻴﺎﺳﺎﺗﻨﺎ وﺷﺮوﻃﻨﺎ إذا ﻛﻨﺖ ﺗﺮﻏﺐ ﻓﻲ ذﻟﻚ‪ ،‬ﻛﻤﺎ ﻧﺴﺘﺨﺪم ﻣﻌﻠﻮﻣﺎﺗﻚ ﻟﻠﺮد ﻋﻠﻴﻚ ﻋﻨﺪﻣﺎ ﺗﺘﻮاﺻﻞ ﻣﻌﻨﺎ‪.‬‬
  </p>

  <p><b style="font-size: 22px">٢‬- اﻷﺷﺨﺎص واﻟﺤﺴﺎﺑﺎت اﻟﺬﻳﻦ ﺗﺘﻮاﺻﻞ ﻣﻌﻬﻢ وﺗﺸﺎرك ﻣﻌﻬم</b></p>

  <p><b> المعلومات العامه</b></p>

  <p>‫ﻳﻤﻜــﻦ ﻷي ﺷــﺨﺺ اﻻﻃــﻼع ﻋﻠــﻰ اﻟﻤﻌﻠﻮﻣــﺎت اﻟﺘــﻲ ﺗــﻢ ﺗﺼﻨﻴﻔﻬــﺎ ﻋﻠــﻰ أﻧﻬــﺎ "ﻋﺎﻣﺔ"ﺳــﻮاء ﻛﺎن داﺧــﻞ أو ﺧــﺎرج
    ﻣﻨﺘﺠﺎﺗﻨــﺎ‪،‬‬ ‫ﺣﺘــﻰ وإن ﻟــﻢ ﻳﻜــﻦ ﻟــﻪ ﺣﺴــﺎب ﻟﺪﻳﻨــﺎ‪ ,‬وﺗﺘﻀﻤــﻦ ﻫــﺬه اﻟﻤﻌﻠﻮﻣــﺎت اﻟﻌﺎﻣــﺔ اﺳــﻢ اﻟﻤﺴــﺘﺨﺪم وأي
    ﻣﻌﻠﻮﻣــﺎت ﺗﻘــﻮم‬ ‫ﺑﻤﺸــﺎرﻛﺘﻬﺎ ﻣــﻊ اﻟﺠﻤﻬــﻮر اﻟﻌــﺎم واﻟﻤﻌﻠﻮﻣــﺎت اﻟﻤﺘﻮﻓــﺮة ﻓــﻲ ﻣﻠﻔــﻚ اﻟﺸــﺨﺼﻲ اﻟﻌــﺎم ﻋﻠــﻰ
    اﻟﺤﻤﺎﻳــﻞ واﻟﻤﺤﺘــﻮى اﻟــﺬي‬ ‫ﺗﺸــﺎرﻛﻪ ﻋﻠــﻰ ﺻﻔﺤــﺔ اﻟﺤﻤﺎﻳــﻞ أو أي ﻣﻨﺘــﺪى ﻋــﺎم آﺧــﺮ‪ ،‬أﻧــﺖ واﻷﺷــﺨﺎص اﻵﺧــﺮون
    اﻟﺬﻳــﻦ ﻳﺴــﺘﺨﺪﻣﻮن اﻟﺤﻤﺎﻳــﻞ‪ ،‬وﻳﻤﻜﻨﻨــﺎ‬ ‫ﺗﻮﻓﻴــﺮ اﻟﻮﺻــﻮل إﻟــﻰ أي ﺷــﺨﺺ أو إرﺳــﺎل ﻣﻌﻠﻮﻣــﺎت ﻋﺎﻣــﺔ إﻟﻴــﻪ
    داﺧــﻞ ﻣﻨﺘﺠﺎﺗﻨــﺎ أو ﺧﺎرﺟﻬــﺎ‪ ،‬ﺑﻤــﺎ ﻓــﻲ ذﻟــﻚ ﻓــﻲ ﻣﻨﺘﺠــﺎت‬ ‫ﺷــﺮﻛﺎت اﻟﺤﻤﺎﻳــﻞ اﻷﺧــﺮى‪ .،‬وﻳﻤﻜــﻦ ﻛﺬﻟــﻚ
    ﻇﻬــﻮر اﻟﻤﻌﻠﻮﻣــﺎت اﻟﻌﺎﻣــﺔ أو اﻟﻮﺻــﻮل إﻟﻴﻬــﺎ أو إﻋــﺎدة ﻣﺸــﺎرﻛﺘﻬﺎ أو ﺗﻨﺰﻳﻠﻬــﺎ‬ ‫ﻋﺒــﺮ ﺧﺪﻣــﺎت ﺗﺎﺑﻌــﺔ ﻟﺠﻬــﺎت
    ﺧﺎرﺟﻴــﺔ ﻣﺜــﻞ ﻣﺤــﺮﻛﺎت اﻟﺒﺤــﺚ وواﺟﻬــﺎت ‪ API‬واﻟﻮﺳــﺎﺋﻂ ﻏﻴــﺮ اﻟﻤﺘﺼﻠــﺔ‬ ‫ﺑﺎﻹﻧﺘﺮﻧﺖ ﻣﺜﻞ اﻟﺘﻠﻔﺰﻳﻮن‪ ،‬وﻋﺒﺮ
    اﻟﺘﻄﺒﻴﻘﺎت وﻣﻮاﻗﻊ اﻟﻮﻳﺐ واﻟﺨﺪﻣﺎت اﻷﺧﺮى اﻟﺘﻲ ﺗﻨﺪﻣﺞ ﻣﻊ ﻣﻨﺘﺠﺎﺗﻨﺎ‪</p>

  <p><b>‫اﻟﻤﺤﺘﻮى اﻟﺬي ﻳﺸﺎرﻛﻪ اﻵﺧﺮون أو ﻳﻌﻴﺪون ﻣﺸﺎرﻛﺘﻪ ﺑﺨﺼﻮﺻﻚ</b></p>

  <p>‫ﻳﺠــﺐ ﻋﻠﻴــﻚ أن ﺗﻔﻜــﺮ ﻓــﻲ ﻣــﻦ ﺗﺨﺘــﺎر اﻟﻤﺸــﺎرﻛﺔ ﻣﻌــﻪ أو اﻟﺴــﻤﺎح ﺑﺈﻣﻜﺎﻧﻴــﺔ اﻟﻮﺻــﻮل إﻟــﻰ ﺣﺴــﺎﺑﻚ‪ ،‬وذﻟــﻚ
    ﻷن‬ ‫اﻷﺷــﺨﺎص اﻟﺬﻳــﻦ ﻳﺘﻤﻜﻨــﻮن ﻣــﻦ رؤﻳــﺔ ﻧﺸــﺎﻃﻚ ﻋﻠــﻰ ﻣﻨﺘﺠﺎﺗﻨــﺎ ﻳﻤﻜﻨﻬــﻢ ﻣﺸــﺎرﻛﺘﻪ ﻣــﻊ آﺧﺮﻳــﻦ داﺧــﻞ
    ﻣﻨﺘﺠﺎﺗﻨــﺎ وﺧﺎرﺟﻬــﺎ‪،‬‬ ‫ﺑﻤــﺎ ﻓــﻲ ذﻟــﻚ اﻷﺷــﺨﺎص واﻷﻧﺸــﻄﺔ اﻟﺘﺠﺎرﻳــﺔ اﻟﺘــﻲ ﻻ ﻳﻨﺪرﺟــﻮن ﺿﻤــﻦ اﻟﺠﻤﻬــﻮر اﻟــﺬي
    ﺷــﺎرﻛﺖ اﻟﻤﺤﺘــﻮى ﻣﻌــﻪ‪ .‬ﻋﻠــﻰ‬ ‫ﺳــﺒﻴﻞ اﻟﻤﺜــﺎل‪ ،‬ﻋﻨﺪﻣــﺎ ﺗﻘــﻮم ﺑﻨﺸــﺮ ﻣﻨﺸــﻮر أو إرﺳــﺎل رﺳــﺎﻟﺔ إﻟــﻰ
    ﻣﺠﻤﻮﻋــﺔ ﻣﺤــﺪدة ﻣــﻦ اﻷﺻﺪﻗــﺎء أو اﻟﺤﺴــﺎﺑﺎت‪،‬‬ ‫ﻳﻤﻜﻨﻬــﻢ ﺗﻨﺰﻳــﻞ ذﻟــﻚ اﻟﻤﺤﺘــﻮى أو ﺗﺴــﺠﻴﻞ ﻟﻘﻄــﺔ ﺷﺎﺷــﺔ ﻟــﻪ أو
    إﻋــﺎدة ﻣﺸــﺎرﻛﺘﻪ إﻟــﻰ اﻵﺧﺮﻳــﻦ ﻋﺒــﺮ ﻣﻨﺘﺠﺎﺗﻨــﺎ أو ﺧﺎرﺟﻬــﺎ‪،‬‬ ‫ﻓــﻲ ﺗﺠــﺎرب ﺷــﺨﺼﻴﺔ أو ﺗﺠــﺎرب اﻟﻮاﻗــﻊ
    اﻻﻓﺘﺮاﺿــﻲ ‪ .‬وﻛﺬﻟــﻚ ﻋﻨﺪﻣــﺎ ﺗﻘــﻮم ﺑﺎﻟﺘﻌﻠﻴــﻖ ﻋﻠــﻰ ﻣﻨﺸــﻮر ﺷــﺨﺺ آﺧــﺮ أو‬ ‫اﻟﺘﻔﺎﻋــﻞ ﻣــﻊ اﻟﻤﺤﺘــﻮى اﻟــﺬي
    ﻳﻘﺪﻣــﻪ‪ ،‬ﻳﻈﻬــﺮ ﺗﻌﻠﻴﻘــﻚ أو ﺗﻔﺎﻋﻠــﻚ ﻟــﻜﻞ ﺷــﺨﺺ ﻳُﺴــﻤﺢ ﻟــﻪ ﺑﺮؤﻳــﺔ اﻟﻤﺤﺘــﻮى اﻟــﺬي ﻳﻘﺪﻣــﻪ‬ ‫ذﻟﻚ اﻟﺸﺨﺺ‪
    ،‬وﻳﺴﺘﻄﻴﻊ ذﻟﻚ اﻟﺸﺨﺺ ﺗﻐﻴﻴﺮ اﻟﺠﻤﻬﻮر ﻓﻲ وﻗﺖ ﻻﺣﻖ‪.‬‬</p>

  <br>

  <p>ﻳﺘﻤﻜــﻦ اﻷﺷــﺨﺎص ً‬ ‫أﻳﻀــﺎ ﻣــﻦ اﺳــﺘﺨﺪام ﻣﻨﺘﺠﺎﺗﻨــﺎ ﻹﻧﺸــﺎء ﻣﺤﺘــﻮى ﺑﺨﺼﻮﺻــﻚ وﻣﺸــﺎرﻛﺘﻪ ﻣــﻊ اﻟﺠﻤﻬــﻮر اﻟــﺬي
    ﻳﺨﺘﺎروﻧــﻪ ‪,‬‬ ‫ﻋﻠــﻰ ﺳــﺒﻴﻞ اﻟﻤﺜــﺎل‪ ،‬ﻳﻤﻜــﻦ ﻟﻸﺷــﺨﺎص ﻣﺸــﺎرﻛﺔ ﺻــﻮرة ﻟــﻚ ﻓــﻲ ﻗﺼــﺔ أو ذﻛــﺮ اﺳــﻤﻚ أو
    اﻹﺷــﺎرة إﻟﻴــﻚ ﻋﻠــﻰ ﻣﻨﺼــﺔ‬ ‫اﻟﻜﺘﺮوﻧﻴــﺔ أو ﻣﺸــﺎرﻛﺔ ﻣﻌﻠﻮﻣــﺎت ﺗﺘﻌﻠــﻖ ﺑــﻚ ﻓــﻲ ﻣﻨﺸــﻮراﺗﻬﻢ أو رﺳــﺎﺋﻠﻬﻢ‪..‬ﻟﺬﻟﻚ
    ‪ ،‬ﻣــﻦ اﻟﻤﻬــﻢ إدارة ﻣﻠــﻒ ﺗﻌﺮﻳــﻒ‬ ‫إﻋــﺪادات اﻟﺨﺼﻮﺻﻴــﺔ ﻓــﻲ ﺣﺴــﺎﺑﻚ وﻣــﻦ ﻳﻤﻜﻨــﻪ اﻟﻮﺻــﻮل إﻟــﻰ اﻟﺤﺴــﺎب ﻋﻠــﻰ
    ﻫــﺬا اﻟﻤﻮﻗــﻊ‪ .‬ﺗﺨﻀــﻊ ﻫــﺬه اﻹﻋــﺪادات‬ ‫ﻟﺘﻘﺪﻳﺮك اﻟﺨﺎص وﻻ ﺗﺨﻀﻊ ﻟﺴﻴﻄﺮة ﺷﺮﻛﺔ اﻟﺤﻤﺎﻳﻞ أو أي ﻣﻦ ﻣﻨﺘﺠﺎﺗﻬﺎ‪</p>

  <p><b> ‫اﻟﻤﻌﻠﻮﻣﺎت اﻟﻤﺘﻌﻠﻘﺔ ﺑﺤﺎﻟﺔ ﻧﺸﺎﻃﻚ أو ﺗﻮاﺟﺪك ﻋﻠﻰ ﻣﻨﺘﺠﺎﺗﻨﺎ</b></p>

  <p>‫ﻳﺴــﺘﻄﻴﻊ اﻷﺷــﺨﺎص ﺿﻤــﻦ ﺷــﺒﻜﺔ ﻣﻌﺎرﻓــﻚ واﻟﺠﻬــﺎت اﻟﺘــﻲ ﺗﺘﻮاﺻــﻞ ﻣﻌﻬــﺎ رؤﻳــﺔ إﺷــﺎرات ﺗﺨﺒﺮﻫــﻢ ﺑﻤــﺎ إذا ﻛﻨــﺖ‬
    ‫ﻧﺸﻄﺎ ﺣﺎﻟﻴً ﺎ ﻋﻠﻰ اﻟﺤﻤﺎﻳﻞ‪ ،‬أو آﺧﺮ ﻣﺮة اﺳﺘﺨﺪﻣﺖ ﻓﻴﻬﺎ ﻣﻨﺘﺠﺎﺗﻨﺎ‪.‬‬</p>

  <br>

  <p> ‫ﺗﺘﻮﻓــﺮ ﻟﻸﺟﻬــﺰة وأﻧﻈﻤــﺔ اﻟﺘﺸــﻐﻴﻞ اﻟﺘــﻲ ﺗﻮﻓــﺮ إﺻــﺪارات أﺻﻠﻴــﺔ ﻣــﻦ اﻟﺤﻤﺎﻳــﻞ(أي ﻓــﻲ ﺣﺎﻟــﺔ ﻟــﻢ ﻧﻘــﻢ
    ﺑﺘﻄﻮﻳــﺮ ﺗﻄﺒﻴﻘــﺎت‬ ‫اﻟﻤﺴــﺘﺨﺪم اﻟﺨﺎﺻــﺔ ﺑﻨــﺎ) ﺻﻼﺣﻴــﺔ اﻟﻮﺻــﻮل إﻟــﻰ ﺟﻤﻴــﻊ اﻟﻤﻌﻠﻮﻣــﺎت اﻟﺘــﻲ ﺗﺨﺘــﺎر ﻣﺸــﺎرﻛﺘﻬﺎ
    ﻣﻌﻬــﺎ‪ ،‬ﺑﻤــﺎ ﻓــﻲ ذﻟــﻚ‬ ‫اﻟﻤﻌﻠﻮﻣﺎت اﻟﺘﻲ ﻳﺸﺎرﻛﻬﺎ أﺻﺪﻗﺎؤك ﻣﻌﻚ‪ ،‬ﺣﺘﻰ ﻳﺘﻤﻜﻨﻮا ﻣﻦ ﺗﻘﺪﻳﻢ وﻇﺎﺋﻔﻨﺎ اﻷﺳﺎﺳﻴﺔ ﻟﻚ‪</p>

  <p><b> ﻛﻴﻒ ﺗﻌﻤﻞ ﺷﺮﻛﺎت اﻟﺤﻤﺎﻳﻞ ً‬ ‫ﻣﻌﺎ ؟</b></p>

  <p>‫ﺗﺸــﺘﺮك اﻟﺤﻤﺎﻳــﻞ واﻟﺘﺠــﺎرة اﻟﺠﻮﻳــﺔ ﻓــﻲ اﻟﺒﻨﻴــﺔ اﻟﺘﺤﺘﻴــﺔ واﻷﻧﻈﻤــﺔ وﺗﻘﻨﻴــﺎت اﻟﺤﻠــﻮل اﻷﺧــﺮ ﻣــﻊ ﺷــﺮﻛﺎت
    اﻟﺤﻤﺎﻳــﻞ اﻷﺧــﺮى‬ ‫ﺑﻬــﺪف ﺗﻘﺪﻳــﻢ ﺗﺠﺮﺑــﺔ ﻣﺒﺘﻜــﺮة وﻣﻼﺋﻤــﺔ وﻣﺘﻨﺎﺳــﻘﺔ وآﻣﻨــﺔ ﻋﺒــﺮ ﻣﺨﺘﻠــﻒ ﻣﻨﺘﺠــﺎت ﺷــﺮﻛﺎت
    اﻟﺤﻤﺎﻳــﻞ اﻟﺘــﻲ ﺗﺴــﺘﺨﺪﻣﻬﺎ ‪،‬‬ ‫ﻋﻠــﻰ ﺳــﺒﻴﻞ اﻟﻤﺜــﺎل‪ ،‬ﻧﻘــﻮم ﺑﻤﻌﺎﻟﺠــﺔ ﻣﻌﻠﻮﻣــﺎت ﺑﺸــﺄن اﻟﺤﺴــﺎﺑﺎت اﻟﺘــﻲ
    ﺗﻘــﻮم ﺑﺈرﺳــﺎل ﻣﺤﺘــﻮى ﻏﻴــﺮ ﻣﻬــﻢ أو اﺣﺘﻴﺎﻟــﻲ ﻋﺒــﺮ‬ ‫ﺧﺪﻣﺘﻬــﺎ ﺣﺘــﻰ ﻧﺘﻤﻜــﻦ ﻣــﻦ اﺗﺨــﺎذ اﻹﺟــﺮاء اﻟﻤﻨﺎﺳــﺐ ﺿــﺪ
    ﺗﻠــﻚ اﻟﺤﺴــﺎﺑﺎت ﻋﻠــﻰ اﻟﺤﻤﺎﻳــﻞ ﻛﻤــﺎ ﻧﺴــﻌﻰ إﻟــﻰ ﻓﻬــﻢ ﻛﻴﻔﻴــﺔ‬ ‫اﺳــﺘﺨﺪام اﻷﺷــﺨﺎص ﻟﻤﻨﺘﺠــﺎت ﺷــﺮﻛﺎت اﻟﺤﻤﺎﻳــﻞ
    واﻟﺘﻔﺎﻋــﻞ ﻣﻌﻬــﺎ‪ ،‬ﻣﺜــﻞ اﻟﺘﻌــﺮف ﻋﻠــﻰ ﻋــﺪد اﻟﻤﺴــﺘﺨﺪﻣﻴﻦ اﻟﻔﺮﻳﺪﻳــﻦ‬ ‫اﻟﻤﻮﺟﻮدﻳﻦ ﻓﻲ ﻣﻨﺘﺠﺎت ﺷﺮﻛﺎت اﻟﺤﻤﺎﻳﻞ
    اﻟﻤﺨﺘﻠﻔﺔ‪.‬‬</p>

  <p><b> ﻛﻴﻒ ﻳﻤﻜﻨﻨﻲ إدارة اﻟﻤﻌﻠﻮﻣﺎت اﻟﺨﺎﺻﺔ ّﺑﻲ أو ﺣﺬﻓﻬﺎ ؟</b></p>

  <p>‫ﻧﺤﺘﻔــﻆ ﺑﺎﻟﺒﻴﺎﻧــﺎت إﻟــﻰ أن ﺗﺼﺒــﺢ ﻏﻴــﺮ ﺿﺮورﻳــﺔ ﻟﺘﻘﺪﻳــﻢ ﺧﺪﻣﺎﺗﻨــﺎ وﻣﻨﺘﺠــﺎت اﻟﺤﻤﺎﻳــﻞ‪ ،‬أو إﻟــﻰ أن ﻳﺘــﻢ
    ﺣــﺬف ﺣﺴــﺎﺑﻚ ‪ -‬أﻳﻬﻤــﺎ‬ ‫ﻳﺘــﻢ ً‬ ‫ﻧﺤــﻮ ﻓــﺮدي وﻳﻌﺘﻤــﺪ ﻋﻠــﻰ أﺷــﻴﺎء ﻣﺜــﻞ ﻃﺒﻴﻌــﺔ اﻟﺒﻴﺎﻧــﺎت واﻟﺴــﺒﺐ ﻓــﻲ
    ﺗﺠﻤﻴﻌﻬــﺎ‬ ‫أوﻻ ‪ ,‬وﻳﺘــﻢ ﺗﺤﺪﻳــﺪ ذﻟــﻚ ﻋﻠــﻰ‬ ‫ٍ‬ ‫وﻣﻌﺎﻟﺠﺘﻬﺎ واﻟﻤﺘﻄﻠﺒﺎت اﻟﻘﺎﻧﻮﻧﻴﺔ أو اﻟﺘﺸﻐﻴﻠﻴﺔ ذات اﻟﺼﻠﺔ ﻟﻼﺣﺘﻔﺎظ
    ﺑﻬﺎ‪.‬‬ ‫ﻋﻨﺪﻣــﺎ ﺗﻘــﻮم ﺑﺤــﺬف ﺣﺴــﺎﺑﻚ‪ ،‬ﻓﺈﻧﻨــﺎ ﻧﺤــﺬف ﻋﻨﺎﺻــﺮ اﻟﻤﺤﺘــﻮى اﻟﺘــﻲ ﻗﻤــﺖ ﺑﻨﺸــﺮﻫﺎ‪ ،‬ﻣﺜــﻞ اﻟﺼــﻮر
    وﺗﺤﺪﻳﺜــﺎت اﻟﺤﺎﻟــﺔ‪ ،‬وﻟــﻦ‬ ‫ﺗﺘﻤﻜــﻦ ﻣــﻦ اﺳــﺘﻌﺎدة ﺗﻠــﻚ اﻟﻤﻌﻠﻮﻣــﺎت ﺑﻌــﺪ ذﻟــﻚ‪ .‬اﻟﻤﻌﻠﻮﻣــﺎت اﻟﺘــﻲ ﺷــﺎرﻛﻬﺎ
    اﻵﺧــﺮون ﻋﻨــﻚ ﻻ ﺗﻤﺜــﻞ ﺟــﺰءً ا ﻣــﻦ‬ ‫ﺣﺴــﺎﺑﻚ وﻻ ﻳﻤﻜــﻦ ﺣﺬﻓﻬــﺎ‪ .‬وإذا ﻟــﻢ ﺗﻜــﻦ ﺗﺮﻳــﺪ ﺣــﺬف ﺣﺴــﺎﺑﻚ‪ ،‬وﺗﺮﻳــﺪ
    ﻓﻘــﻂ اﻟﺘﻮﻗــﻒ ﻋــﻦ اﺳــﺘﺨﺪام اﻟﻤﻨﺘﺠــﺎت ﻟﻔﺘــﺮة‬ ‫ﻣﺆﻗﺘﺔ‪ ،‬ﻳﻤﻜﻨﻚ إﻟﻐﺎء ﺗﻨﺸﻴﻂ ﺣﺴﺎﺑﻚ ً‬ ‫ﺑﺪﻻ ﻣﻦ ﺣﺬﻓﻪ‪ .‬ﻟﺤﺬف ﺣﺴﺎﺑﻚ ﻓﻲ
    أي وﻗﺖ‪ ،‬ﻳﺮﺟﻰ زﻳﺎرة إﻋﺪادات اﻟﺤﻤﺎﻳﻞ‪.‬‬</p>

  <p><b>ﻛﻴﻒ ﻧﺮد ﻋﻠﻰ اﻟﻄﻠﺒﺎت اﻟﻘﺎﻧﻮﻧﻴﺔ أو ﻧﻤﻨﻊ اﻟﻀﺮر ؟</b></p>

  <p>‫ﻧﺼﻞ إﻟﻰ ﻣﻌﻠﻮﻣﺎﺗﻚ وﻧﺸﺎرﻛﻬﺎ ﻣﻊ اﻟﺠﻬﺎت اﻟﺘﻨﻈﻴﻤﻴﺔ أو ﺟﻬﺎت ﺗﻨﻔﻴﺬ اﻟﻘﺎﻧﻮن أو ﻏﻴﺮﻫﺎ ﻣﻦ اﻟﺠﻬﺎت :</p>

  <br>

  <p>اﺳــﺘﺠﺎﺑﺔ ﻟﻄﻠــﺐ ﻗﻀﺎﺋــﻲ (ﻣﺜــﻞ أﻣــﺮ ﺗﻔﺘﻴــﺶ‪ ،‬أو أﻣــﺮ ﻣﺤﻜﻤــﺔ أو ﻣﺬﻛــﺮة اﺳــﺘﺪﻋﺎء) إذا ﺗﻮﻓــﺮ ﻟﺪﻳﻨــﺎ اﻋﺘﻘــﺎد
    ﺑﺤﺴــﻦ ﻧﻴــﺔ بأن القانون يحتم علينا ذلك .‬ وقـﺪ ﻳﺸــﻤﻞ ﻫــﺬا اﺳــﺘﺠﺎﺑﺘﻨﺎ ﻟﻠﻄﻠﺒــﺎت اﻟﻘﺎﻧﻮﻧﻴــﺔ اﻟــﻮاردة ﻣــﻦ
    اﻟﺪواﺋــﺮ اﻟﻘﻀﺎﺋﻴــﺔ ﺧــﺎرج‬ ‫ﻣﻤﻠﻜﺔ اﻟﺒﺤﺮﻳﻦ وأﻧﻬﺎ ﻣﺘﻮاﻓﻘﺔ ﻣﻊ اﻟﻤﻌﺎﻳﻴﺮ اﻟﻤﻌﺘﺮف ﺑﻬﺎ دوﻟﻴً ﺎ‪.‬‬</p>

  <br>

  <p>ﻋﻨﺪﻣــﺎ ﻳﺘﻮﻓــﺮ ﻟﺪﻳﻨــﺎ اﻋﺘﻘــﺎد ﺑﺤﺴــﻦ ﻧﻴــﺔ ﺑﺄﻧــﻪ ﻣــﻦ اﻟﻀــﺮوري‪ :‬اﻛﺘﺸــﺎف اﻻﺣﺘﻴــﺎل وﻣﻨﻌــﻪ واﻟﺘﻌﺎﻣــﻞ ﻣﻌــﻪ
    أو‬ ‫اﻻﺳــﺘﺨﺪام ﻏﻴــﺮ ُ‬ ‫اﻟﻤﺼــﺮح ﺑــﻪ ﻟﻠﻤﻨﺘﺠــﺎت أو اﻧﺘﻬــﺎﻛﺎت ﺷــﺮوﻃﻨﺎ أو ﺳﻴﺎﺳــﺎﺗﻨﺎ‪ ،‬أو أي أﻧﺸــﻄﺔ أﺧــﺮى
    ﺿــﺎرة أو ﻏﻴــﺮ‬ ‫ﻗﺎﻧﻮﻧﻴــﺔ؛ أو ﻟﺤﻤﺎﻳــﺔ أﻧﻔﺴــﻨﺎ )ﺑﻤــﺎ ﻓــﻲ ذﻟــﻚ ﺣﻘﻮﻗﻨــﺎ أو ﻣﻤﺘﻠﻜﺎﺗﻨــﺎ أو ﻣﻨﺘﺠﺎﺗﻨــﺎ( أو
    ﻟﺤﻤﺎﻳﺘــﻚ أﻧــﺖ أو اﻵﺧﺮﻳــﻦ‪ ،‬ﺑﻤــﺎ ﻓــﻲ‬ ‫ذﻟﻚ ﻛﺠﺰء ﻣﻦ اﻟﺘﺤﻘﻴﻘﺎت أو اﻻﺳﺘﻔﺴﺎرات اﻟﻘﺎﻧﻮﻧﻴﺔ‪.‬‬</p>

  <br>

  <p>ﻳﺠﻮز اﻟﻮﺻﻮل إﻟﻰ اﻟﻤﻌﻠﻮﻣﺎت اﻟﺘﻲ ﻧﺘﻠﻘﺎﻫﺎ ﻋﻨﻚ )ﺑﻤﺎ ﻓﻲ ذﻟﻚ ﺑﻴﺎﻧﺎت اﻟﻤﻌﺎﻣﻼت اﻟﻤﺎﻟﻴﺔ اﻟﻤﺘﻌﻠﻘﺔ ﺑﻌﻤﻠﻴﺎت اﻟﺸﺮاء‬ ‫ﻣــﻊ
    اﻟﺤﻤﺎﻳــﻞ( واﻻﺣﺘﻔــﺎظ ﺑﻬــﺎ ﻟﻔﺘــﺮة زﻣﻨﻴــﺔ ﻣﻤﺘــﺪة ﻓــﻲ ﺣﺎﻟــﺔ اﻟﻨﻈــﺮ ﻓــﻲ ﻫــﺬه اﻟﻤﻌﻠﻮﻣــﺎت ﻣــﻦ ﺧــﻼل ﻃﻠــﺐ‬
    ‫ﻗﺎﻧﻮﻧــﻲ أو ﺗﺤﻘﻴــﻖ ﺣﻜﻮﻣــﻲ أو ﺗﺤﻘﻴﻘــﺎت ﺑﺸــﺄن اﻻﻧﺘﻬــﺎﻛﺎت اﻟﻤﺤﺘﻤﻠــﺔ ﻟﻠﺸــﺮوط واﻟﺴﻴﺎﺳــﺎت اﻟﺨﺎﺻــﺔ ﺑﻨــﺎ أو
    ﻟﻤﻨــﻊ‬ ‫اﻟﻀــﺮر ﺑــﺄي ﺷــﻜﻞ آﺧــﺮ‪ .‬وﻧﺤﺘﻔــﻆ ً‬ ‫أﻳﻀــﺎ ﺑﻤﻌﻠﻮﻣــﺎت ﻣــﻦ اﻟﺤﺴــﺎﺑﺎت اﻟﺘــﻲ ﺗــﻢ ﺗﻌﻄﻴﻠﻬــﺎ ﺑﺴــﺒﺐ
    اﻧﺘﻬﺎﻛﻬــﺎ ﻟﺸــﺮوﻃﻨﺎ‬ ‫ﻟﻤﺪة ﻻ ﺗﻘﻞ ﻋﻦ ﻋﺎم ﻟﻤﻨﻊ ﺗﻜﺮار إﺳﺎءة اﻻﺳﺘﺨﺪام أو اﻧﺘﻬﺎﻛﺎت أﺧﺮى ﻟﺸﺮوﻃﻨﺎ‪.‬‬ </p>

  <p><b style="font-size: 22px">٣‬- اﻟﺘﺰاﻣﺎﺗﻚ ﺗﺠﺎه اﻟﺤﻤﺎﻳﻞ وﻣﺠﺘﻤﻌﻨﺎ</b></p>

  <p>‫ﻧﻘﺪم ﻫﺬه اﻟﺨﺪﻣﺎت ﻟﻚ وﻟﻶﺧﺮﻳﻦ ﻟﻠﻤﺴﺎﻋﺪة ﻓﻲ دﻓﻊ ﻣﻬﻤﺘﻨﺎ ﻗﺪﻣﺎ‪.‬‬</p>

  <p>وﻓﻲ اﻟﻤﻘﺎﺑﻞ‪ ،‬ﻧﺮﻳﺪ ﻣﻨﻚ اﻻﻟﺘﺰام ﺑﻤﺎ ﻳﻠﻲ‪: ‬‬</p>

  <br>

  <p> اﺳﺘﺨﺪام ﻧﻔﺲ اﻻﺳﻢ اﻟﺬي ﺗﺴﺘﺨﺪﻣﻪ ﻓﻲ ﺣﻴﺎﺗﻚ اﻟﻴﻮﻣﻴﺔ‪.‬‬</p>

  <p>ﺗﻘﺪﻳــﻢ ﻣﻌﻠﻮﻣــﺎت دﻗﻴﻘــﺔ ﻋــﻦ ﻧﻔﺴــﻚ وﻋــﻦ أي ﻣــﻦ أﻓــﺮاد ﻋﺎﺋﻠﺘــﻚ‪ .‬ﻓــﻲ ﺣﺎﻟــﺔ ﻗﻴﺎﻣــﻚ ﺑﺘﻘﺪﻳــﻢ ﻣﻌﻠﻮﻣــﺎت
    ﺗﺘﻌﻠــﻖ‬ ‫ﺑﺄﻓﺮاد اﻟﻌﺎﺋﻠﺔ ‪ ،‬ﻳﺮﺟﻰ اﻟﺘﺄﻛﺪ ﻣﻦ ﺣﺼﻮﻟﻚ ﻋﻠﻰ إذﻧﻬﻢ ﻟﻠﻘﻴﺎم ﺑﺬﻟﻚ‪.</p>

  <p> إﻧﺸﺎء ﺣﺴﺎب واﺣﺪ ﻓﻘﻂ (ﺣﺴﺎﺑﻚ اﻟﺨﺎص) واﺳﺘﺨﺪام ﻳﻮﻣﻴﺎﺗﻚ ﻟﻸﻏﺮاض اﻟﺸﺨﺼﻴﺔ ﻓﻘﻂ‪.‬‬</p>

  <p> ﻋــﺪم ﻣﺸــﺎرﻛﺔ ﻛﻠﻤــﺔ اﻟﺴــﺮ أو ﻣﻨــﺢ ﺻﻼﺣﻴــﺔ اﻟﻮﺻــﻮل إﻟــﻰ ﺣﺴــﺎﺑﻚ ﻋﻠــﻰ اﻟﺤﻤﺎﻳــﻞ إﻟــﻰ اﻵﺧﺮﻳــﻦ أو ﻧﻘــﻞ
    ﺣﺴــﺎﺑﻚ إﻟــﻰ‬ ‫أي ﺷﺨﺺ آﺧﺮ (دون اﻟﺤﺼﻮل ﻋﻠﻰ إذن ﻣﻨﺎ)‪.‬‬</p>

  <p><b> ﻣﺎ اﻟﺬي ﻳﻤﻜﻨﻚ ﻣﺸﺎرﻛﺘﻪ واﻟﻘﻴﺎم ﺑﻪ ﻋﻠﻰ اﻟﺤﻤﺎﻳﻞ ؟‬</b></p>

  <br>

  <p>‫أﻧــﺖ ﺗﻮاﻓــﻖ ﻋﻠــﻰ ﻋــﺪم ارﺗــﻜﺎب أي ﻣــﻦ اﻟﺴــﻠﻮﻛﻴﺎت‬ ‫اﻟﻤﻮﺿﺤــﺔ أدﻧــﺎه أو ﺗﺴــﻬﻴﻞ ذﻟــﻚ ﻟﻶﺧﺮﻳــﻦ أو ﻣﺴــﺎﻋﺪﺗﻬﻢ
    ﻓــﻲ‬ ارﺗﻜﺎﺑﻪ</p>

  <p> أي ﺷﻲء ﻳﻨﺘﻬﻚ ﻫﺬه اﻟﺸﺮوط وﻏﻴﺮﻫﺎ ﻣﻦ اﻟﺸﺮوط واﻟﺴﻴﺎﺳﺎت اﻟﺘﻲ ﺗﻨﻄﺒﻖ ﻋﻠﻰ اﺳﺘﺨﺪاﻣﻚ اﻟﺤﻤﺎﻳﻞ‪</p>

  <p> أي ﺷﻲء ﻏﻴﺮ ﻗﺎﻧﻮﻧﻲ أو ﻣﻀﻠﻞ أو ﺗﻤﻴﻴﺰي أو اﺣﺘﻴﺎﻟﻲ‪.</p>

  <p> أي ﺷﻲء ﻳﺨﺎﻟﻒ أو ﻳﻨﺘﻬﻚ ﺣﻘﻮق ﺷﺨﺺ آﺧﺮ‪.</p>

  <p> أي ﻧﻮع ﻣﻦ اﻟﻌﻨﺼﺮﻳﺔ‪.‬‬</p>

  <p>ﻻ ﻳﺠــﻮز ﻟــﻚ ﺗﺤﻤﻴــﻞ اﻟﻔﻴﺮوﺳــﺎت أواﻟﺸــﻔﺮات اﻟﺨﺒﻴﺜــﺔ أو اﻟﻘﻴــﺎم ﺑــﺄي ﺷــﻲء ﻣــﻦ ﺷــﺄﻧﻪ ﺗﻌﻄﻴــﻞ أو ﻋﺮﻗﻠــﺔ أو
    إﻋﺎﻗــﺔ‬ . ‫ﺗﺸﻐﻴﻞ ﻣﻨﺘﺠﺎﺗﻨﺎ ﻋﻠﻰ اﻟﻨﺤﻮ اﻟﻤﻨﺎﺳﺐ أو ﻇﻬﻮرﻫﺎ ﺑﺎﻟﺸﻜﻞ اﻟﻤﻨﺎﺳﺐ‬</p>

  <p>‫ﻻ ﻳﺠــﻮز ﻟــﻚ اﻟﻮﺻــﻮل إﻟــﻰ اﻟﺒﻴﺎﻧــﺎت أو ﺟﻤﻌﻬــﺎ ﻣــﻦ ﻣﻨﺘﺠﺎﺗﻨــﺎ ﺑﺎﺳــﺘﺨﺪام وﺳــﺎﺋﻞ ﺗﻠﻘﺎﺋﻴــﺔ (دون اﻟﺤﺼــﻮل
    ﻋﻠــﻰ إذن ﻣﺴــﺒﻖ‬ ‫ﻣﻨﺎ) أو ﻣﺤﺎوﻟﺔ اﻟﻮﺻﻮل إﻟﻰ ﺑﻴﺎﻧﺎت ﻻ ﺗﻤﻠﻚ ﺻﻼﺣﻴﺔ اﻟﻮﺻﻮل إﻟﻴﻬﺎ ‪.‬‬</p>

  <p>
    ‫‫ﻳﻤﻜﻨﻨــﺎ إزاﻟــﺔ أي ﻣﺤﺘــﻮى ﺗﻘــﻮم ﺑﻤﺸــﺎرﻛﺘﻪ وﻳﻤﺜــﻞ اﻧﺘﻬـ ً‬ ‫ـﺎﻛﺎ ﻟﻬــﺬه اﻟﺒﻨــﻮد واﻟﺸــﺮوط‪ ،‬وإذا اﻗﺘﻀــﻰ
    اﻷﻣــﺮ‪ ،‬ﻳﺤــﻖ ﻟﻨــﺎ اﺗﺨــﺎذ‬ ‫اﻟﻤﻮﺿﺤــﺔ أدﻧــﺎه ‪ ,‬ﻳﺠــﻮز ﻟﻨــﺎ ً‬ ‫أﻳﻀــﺎ ﺗﻌﻄﻴــﻞ ﺣﺴــﺎﺑﻚ إذا ﻛﻨــﺖ ﺗﻨﺘﻬــﻚ
    ﺣﻘــﻮق اﻟﻤﻠﻜﻴــﺔ‬ ‫إﺟــﺮاء ﺿــﺪ ﺣﺴــﺎﺑﻚ‪ ،‬ﻟﻸﺳــﺒﺎب‬ ‫اﻟﻔﻜﺮﻳﺔ ﻷﺷﺨﺎص آﺧﺮﻳﻦ ﻋﻠﻰ ﻧﺤﻮ ﻣﺘﻜﺮر ‪.‬‬
  </p>

  <p>ﻟﺘﻄﻮﻳــﺮ ﺷــﺠﺮة اﻟﻌﺎﺋﻠــﺔ‪ ،‬ﻧﻄﻠــﺐ إﺿﺎﻓــﺔ ﻣﻌﻠﻮﻣــﺎت ﺣﻘﻴﻘﻴــﺔ وﺻﺤﻴﺤــﺔ‪ ،‬وإدارة اﻟﻤﻮﻗــﻊ ﺗﺴــﺘﻄﻴﻊ ﻃﻠــﺐ أي ﻧــﻮع
    ﻣــﻦ‬ ‫اﻟﻮﺛﺎﺋﻖ ﻓﻲ ﺣﺎﻟﺔ اﻟﻨﺰاع‪.‬‬</p>

  <p><b style="font-size: 22px">٤‬- اﻷذوﻧﺎت اﻟﺘﻲ ﺗﻤﻨﺤﻬﺎ ﻟﻨﺎ</b></p>

  <p>‫ﻧﻄﻠﺐ ﻣﻨﻚ ﻣﻨﺤﻨﺎ أذوﻧﺎت ﻣﺤﺪدة ﺣﺘﻰ ﻧﺘﻤﻜﻦ ﻣﻦ ﺗﻘﺪﻳﻢ ﺧﺪﻣﺎﺗﻨﺎ‬</p>

  <p><b> إذن اﺳﺘﺨﺪام اﻟﻤﺤﺘﻮى اﻟﺬي ﺗﻘﻮم ﺑﺈﻧﺸﺎﺋﻪ وﻣﺸﺎرﻛﺘﻪ :</b></p>

  <p> ‫ﺗــﺆول إﻟﻴــﻚ ﻣﻠﻜﻴــﺔ اﻟﻤﺤﺘــﻮى اﻟــﺬي ﺗﻘــﻮم ﺑﺈﻧﺸــﺎﺋﻪ وﻣﺸــﺎرﻛﺘﻪ ﻋﻠــﻰ اﻟﺤﻤﺎﻳــﻞ وﻣﻨﺘﺠــﺎت اﻟﺤﻤﺎﻳــﻞ اﻷﺧــﺮى
    اﻟﺘــﻲ‬ ‫ﺗﺴــﺘﺨﺪﻣﻬﺎ‪ ،‬وﻻ ﻳﻮﺟــﺪ ﻓــﻲ ﻫــﺬه اﻟﺸــﺮوط ﻣــﺎ ﻳﺴــﻠﺒﻚ اﻟﺤﻘــﻮق اﻟﺘــﻲ ﺗﻤﺘﻠﻜﻬــﺎ ﺗﺠــﺎه اﻟﻤﺤﺘــﻮى اﻟﺨــﺎص
    ﺑــﻚ ‪ ،‬وﻟــﻚ ﻣﻄﻠــﻖ‬ ‫اﻟﺤﺮﻳــﺔ ﻓــﻲ ﻣﺸــﺎرﻛﺔ اﻟﻤﺤﺘــﻮى اﻟﺨــﺎص ﺑــﻚ ﻣــﻊ أي ﺷــﺨﺺ آﺧــﺮ‪ .‬وﺣﺘــﻰ ﻧﺘﻤﻜــﻦ ﻣــﻦ
    ﺗﻘﺪﻳــﻢ ﺧﺪﻣﺎﺗﻨــﺎ‪ ،‬ﻧﻄﻠــﺐ ﻣﻨــﻚ أن‬ ‫ﺗﻤﻨﺤﻨﺎ ﺑﻌﺾ اﻷذوﻧﺎت اﻟﻘﺎﻧﻮﻧﻴﺔ ﻻﺳﺘﺨﺪام ﻫﺬا اﻟﻤﺤﺘﻮى ﻷﻏﺮاض اﻟﺤﻤﺎﻳﻞ وﻣﻨﺘﺠﺎﺗﻪ‪.‬‬
  </p>

  <br>

  <p>ﻋﻠــﻰ وﺟــﻪ اﻟﺘﺤﺪﻳــﺪ‪ ،‬ﻋﻨﺪﻣــﺎ ﺗﻘــﻮم ﺑﻤﺸــﺎرﻛﺔ ﻣﺤﺘــﻮى ﻣﺤﻤــﻰ ﺑﻤﻮﺟــﺐ ﺣﻘــﻮق اﻟﻤﻠﻜﻴــﺔ اﻟﻔﻜﺮﻳــﺔ (ﻣﺜــﻞ اﻟﺼــﻮر
    أو ﻣﻘﺎﻃــﻊ‬ اﻟﻔﻴﺪﻳــﻮ) أو ﻧﺸــﺮه أو ﺗﺤﻤﻴﻠــﻪ ﻋﻠــﻰ أو ﻓــﻲ ﻣﻨﺘﺠﺎﺗﻨــﺎ أو ﺑــﺄي ﻃﺮﻳﻘــﺔ ذات ﺻﻠــﺔ ﺑﻤﻨﺘﺠﺎﺗﻨــﺎ‪
    ،‬ﻓﺈﻧــﻚ ﺑﺬﻟــﻚ ﺗﻤﻨﺤﻨــﺎ‬ ‫ﺗﺮﺧﻴﺼــﺎ دوﻟﻴً ــﺎ‬ ‫ﻏﻴــﺮ ﺣﺼــﺮي‪ ،‬ﻗﺎﺑـ ًـﻼ ﻟﻠﻨﻘــﻞ‪ ،‬وﻗﺎﺑـ ًـﻼ ﻟﻠﺘﺮﺧﻴــﺺ ﻣــﻦ
    اﻟﺒﺎﻃــﻦ‪ ،‬وﻏﻴــﺮ ﻣﺤﻔــﻮظ اﻟﺤﻘــﻮق‪ ،‬ﻻﺳــﺘﻀﺎﻓﺔ اﻟﻤﺤﺘــﻮى‪ ،‬واﺳــﺘﺨﺪاﻣﻪ‪،‬‬ ‫وﺗﻮزﻳﻌــﻪ‪ ،‬وﺗﻌﺪﻳﻠــﻪ‪ ،‬وﺗﺸــﻐﻴﻠﻪ‪
    ،‬وﻧﺴــﺨﻪ‪ ،‬وﺗﻘﺪﻳﻤــﻪ أو ﻋﺮﺿــﻪ ﻋﻠــﻰ اﻟﻌﺎﻣــﺔ‪ ،‬وﺗﺮﺟﻤﺘــﻪ‪ ،‬وإﻧﺸــﺎء أﻋﻤــﺎل ﻣﺸــﺘﻘﺔ ﻣﻨــﻪ (ﺑﻤــﺎ‬ ‫ﻳﺘﻮاﻓــﻖ
    ﻣــﻊ إﻋــﺪادات اﻟﺨﺼﻮﺻﻴــﺔ واﻟﺘﻄﺒﻴــﻖ اﻟﺨﺎﺻــﺔ ﺑــﻚ) ‪ ,‬وذﻟــﻚ ﻳﻌﻨــﻲ أﻧــﻪ‪ ،‬ﻋﻠــﻰ ﺳــﺒﻴﻞ اﻟﻤﺜــﺎل‪ ،‬إذا ﻗﻤــﺖ
    ﺑﻤﺸــﺎرﻛﺔ‬ ‫ﺻــﻮرة ﻋﻠــﻰ اﻟﺤﻤﺎﻳــﻞ‪ ،‬ﻓﺈﻧــﻚ ﺑﺬﻟــﻚ ﺗﻤﻨﺤﻨــﺎ ً‬ ‫إذﻧــﺎ ﻳﺴــﻤﺢ ﻟﻨــﺎ ﺑﺎﻟﺤــﻖ ﻓــﻲ ﺗﺨﺰﻳﻨﻬــﺎ وﻧﺴــﺨﻬﺎ
    وﻣﺸــﺎرﻛﺘﻬﺎ ﻣــﻊ اﻵﺧﺮﻳــﻦ‬ ‫(وﻧﻜــﺮر‪ ،‬ﺑﻤــﺎ ﻳﺘﻮاﻓــﻖ ﻣــﻊ إﻋﺪاداﺗــﻚ) ﻣﺜــﻞ ﻣﻮﻓــﺮي اﻟﺨﺪﻣــﺎت اﻟﺬﻳــﻦ ﻳﺪﻋﻤــﻮن
    ﺧﺪﻣﺘﻨــﺎ أو ﻏﻴــﺮ ذﻟــﻚ ﻣــﻦ ﻣﻨﺘﺠــﺎت اﻟﺤﻤﺎﻳــﻞ‬ ‫اﻟﺘﻲ ﺗﺴﺘﺨﺪﻣﻬﺎ ‪.‬‬‬‬</p>

  <br>

  <p>‫وﻳﻤﻜﻨــﻚ إﻧﻬــﺎء ﻫــﺬا اﻟﺘﺮﺧﻴــﺺ ﻓــﻲ أي وﻗــﺖ ﺑﻤﺠــﺮد ﺣــﺬف اﻟﻤﺤﺘــﻮى أو اﻟﺤﺴــﺎب‪ ،‬وﻳﻨﺒﻐــﻲ أن ﺗﻌﻠــﻢ أﻧــﻪ‪
    ،‬وﻷﺳــﺒﺎب ﻓﻨﻴــﺔ‪،‬‬ ‫ﻗــﺪ ﻳﻈــﻞ اﻟﻤﺤﺘــﻮى اﻟــﺬي ﺗﻘــﻮم ﺑﺤﺬﻓــﻪ ﻣﻮﺟــﻮدً ا ﻟﻔﺘــﺮة ﻣﺤــﺪودة ﻓــﻲ ُ‬ ‫اﻟﻨﺴــﺦ
    اﻻﺣﺘﻴﺎﻃﻴــﺔ (وﻟﻜــﻦ ﻟــﻦ ﻳﻈﻬــﺮ‬ ‫ﻟﻠﻤﺴــﺘﺨﺪﻣﻴﻦ اﻵﺧﺮﻳــﻦ) ‪ ,‬ﺑﺎﻹﺿﺎﻓــﺔ إﻟــﻰ ذﻟــﻚ‪ ،‬ﻳﺠــﻮز اﺳــﺘﻤﺮار ﻇﻬــﻮر
    اﻟﻤﺤﺘــﻮى اﻟــﺬي ﺗﻘــﻮم ﺑﺤﺬﻓــﻪ إذا ﻗﻤــﺖ ﺑﻤﺸــﺎرﻛﺘﻪ‬ ‫ﻣﻊ آﺧﺮﻳﻦ وﻟﻢ ﻳﻘﻮﻣﻮا ﺑﺤﺬﻓﻪ‪.</p>

  <p><b> إذن ﺗﺤﺪﻳﺚ اﻟﺒﺮﻧﺎﻣﺞ اﻟﺬي ﺗﺴﺘﺨﺪﻣﻪ أو ﺗﻘﻮم ﺑﺘﻨﺰﻳﻠﻪ</b></p>

  <p>‫إذا ﻗﻤــﺖ ﺑﺘﻨﺰﻳــﻞ ﺑﺮﻧﺎﻣﺠﻨــﺎ أو اﺳــﺘﺨﺪاﻣﻪ‪ ،‬ﻓﺈﻧــﻚ ﺑﺬﻟــﻚ ﺗﻤﻨﺤﻨــﺎ ً‬ ‫إذﻧــﺎ ﻟﺘﻨﺰﻳــﻞ وﺗﺜﺒﻴــﺖ إﺻــﺪارات
    اﻟﺘﺮﻗﻴــﺔ واﻟﺘﺤﺪﻳﺜــﺎت‬ ‫واﻟﻤﻴﺰات اﻹﺿﺎﻓﻴﺔ ﺑﻬﺪف ﺗﺤﺴﻴﻦ وﺗﻨﻘﻴﺢ وﺗﻄﻮﻳﺮ اﻟﺒﺮﻧﺎﻣﺞ‪.‬‬</p>

  <p><b> ﻗﻴﻮد اﺳﺘﺨﺪام ﺣﻘﻮق ﻣﻠﻜﻴﺘﻨﺎ اﻟﻔﻜﺮﻳﺔ</b></p>

  <p>‫إذا ﻛﻨــﺖ ﺗﺴــﺘﺨﺪم ﻋﻨﺎﺻــﺮ ﻣﺤﺘــﻮى ﻣﺤﻤﻴــﺔ ﺑﻤﻮﺟــﺐ ﺣﻘــﻮق اﻟﻤﻠﻜﻴــﺔ اﻟﻔﻜﺮﻳــﺔ اﻟﺘــﻲ ﻧﻤﺘﻠﻜﻬــﺎ وﻧﻮﻓﺮﻫــﺎ ﻋﺒــﺮ
    ﻣﻨﺘﺠﺎﺗﻨــﺎ (ﻋﻠــﻰ‬ ‫ﺳــﺒﻴﻞ اﻟﻤﺜــﺎل‪ ،‬اﻟﺼــﻮر أو اﻟﺘﺼﻤﻴﻤــﺎت أو ﻣﻘﺎﻃــﻊ اﻟﻔﻴﺪﻳــﻮ أو اﻟﻤﻘﺎﻃــﻊ اﻟﺼﻮﺗﻴــﺔ اﻟﺘــﻲ
    ﻧﻮﻓﺮﻫــﺎ ﻟــﻚ وﺗﻘــﻮم أﻧــﺖ ﺑﺈﺿﺎﻓﺘﻬــﺎ‬ ‫إﻟــﻰ ﻣﺤﺘــﻮى ﺗﻘــﻮم ﺑﺈﻧﺸــﺎﺋﻪ وﻣﺸــﺎرﻛﺘﻪ ﻋﻠــﻰ اﻟﺤﻤﺎﻳــﻞ(‪ ،‬ﻓﺈﻧﻨــﺎ
    ﻧﺤﺘﻔــﻆ ﺑﺠﻤﻴــﻊ اﻟﺤﻘــﻮق ﺗﺠــﺎه ﻋﻨﺎﺻــﺮ اﻟﻤﺤﺘــﻮى ﻫــﺬه )وﻟﻜــﻦ‬ ‫ﻻ ﻧﺤﺘﻔــﻆ ﺑﺤﻘــﻮق ﻋﻨﺎﺻــﺮ اﻟﻤﺤﺘــﻮى اﻟﺨﺎﺻــﺔ
    ﺑــﻚ)‪ .‬وﻻ ﻳﻤﻜﻨــﻚ إﻻ اﺳــﺘﺨﺪام ﺣﻘــﻮق اﻟﻨﺸــﺮ أو ﺣﻘــﻮق اﻟﻌﻼﻣــﺎت اﻟﺘﺠﺎرﻳــﺔ‬ ‫ً‬ﺻﺮاﺣــﺔ ﺑﻤﻮﺟــﺐ إرﺷــﺎدات
    اﺳــﺘﺨﺪام اﻟﻌﻼﻣــﺎت‬ ‫وﻓﻘــﺎ ﻟﻤــﺎ ﻫــﻮ ﻣﺴــﻤﻮح ﺑــﻪ‬ ‫(أو أﻳــﺔ ﻋﻼﻣــﺎت ﻣﺸــﺎﺑﻬﺔ) اﻟﺨﺎﺻــﺔ ﺑﻨــﺎ‬ ‫ﻛﺘﺎﺑــﻲ ّ‬
    ‫ﻣﻨــﺎ (أو إذن‬ ‫اﻟﺘﺠﺎرﻳــﺔ اﻟﺨﺎﺻــﺔ ﺑﻨــﺎ أو ﺑﻤﻮﺟــﺐ إذن ﻛﺘﺎﺑــﻲ ﻣﺴــﺒﻖ ﻣــﻦ ﻃﺮﻓﻨــﺎ‪ .‬وﻳﺠــﺐ ﻋﻠﻴــﻚ اﻟﺤﺼــﻮل
    ﻋﻠــﻰ إذن‬ ‫ّ‬ﺑﻤﻮﺟــﺐ ﺗﺮﺧﻴــﺺ ﻣﺼــﺪر ﻣﻔﺘــﻮح) ﺣﺘــﻰ ﺗﺘﻤﻜــﻦ ﻣــﻦ ﺗﻌﺪﻳــﻞ رﻣــﺰ ﺑﺮﻣﺠــﻲ ﻣﺼــﺪر ﺧــﺎص ﺑﻨــﺎ أو إﻧﺸــﺎء
    أﻋﻤــﺎل ﻣﺸــﺘﻘﺔ ﻣﻨــﻪ‬ ‫أو إﻟﻐﺎء ﺗﺠﻤﻴﻌﻪ أو ﻣﺤﺎوﻟﺔ اﺳﺘﺨﺮاﺟﻪ ﺑﺄي ﻃﺮﻳﻘﺔ‪.‬‬</p>

  <p><b style="font-size: 22px">٥‬- ﺗﺤﺪﻳﺚ ﺷﺮوﻃﻨﺎ‬</b></p>

  <p>‫ﻧﺴــﻌﻰ‬ ‫داﺋﻤــﺎ إﻟــﻰ ﺗﺤﺴــﻴﻦ ﺧﺪﻣﺎﺗﻨــﺎ وﺗﻄﻮﻳــﺮ ﻣﻴــﺰات ﺟﺪﻳــﺪة ﻟﺘﺼﺒــﺢ ﻣﻨﺘﺠﺎﺗﻨــﺎ أﻓﻀــﻞ وأﻛﺜــﺮ ﻣﻼءﻣــﺔ ﻟــﻚ‬
    وﻟﻤﺠﺘﻤﻌﻨــﺎ ‪ ,‬وﻧﺘﻴﺠــﺔ ﻟﺬﻟــﻚ‪ ،‬ﻓﻘــﺪ ﻳﺘﻄﻠــﺐ اﻷﻣــﺮ ﺗﺤﺪﻳــﺚ ﻫــﺬه اﻟﺸــﺮوط ﻣــﻦ وﻗــﺖ ﻵﺧــﺮ ﻟﺘﻌﺒــﺮ ﻋــﻦ
    ﺧﺪﻣﺎﺗﻨــﺎ‬ ‫وﻣﻤﺎرﺳــﺎﺗﻨﺎ ﺑﺪﻗــﺔ أﻛﺒــﺮ‪ .‬ﻣــﺎ ﻟــﻢ ﻳﻨــﺺ اﻟﻘﺎﻧــﻮن ﻋﻠــﻰ ﺧــﻼف ذﻟــﻚ‪ ،‬ﺳــﻨﻘﻮم ﺑﺈﺑﻼﻏــﻚ ﻗﺒــﻞ
    إﺟــﺮاء أي ﺗﻐﻴﻴــﺮات ﻋﻠــﻰ‬ ‫ﻫــﺬه اﻟﺸــﺮوط وﻧﻤﻨﺤــﻚ ﻓﺮﺻــﺔ ﻟﻤﺮاﺟﻌﺘﻬــﺎ ﻗﺒــﻞ أن ﺗﺪﺧــﻞ ﺣﻴّــﺰ اﻟﺘﻨﻔﻴــﺬ‪ .‬وﺑﻤﺠــﺮد
    دﺧــﻮل أي ﺷــﺮوط ﺗــﻢ‬ ‫ﺗﺤﺪﻳﺜﻬﺎ ﺣﻴﺰ اﻟﺘﻨﻔﻴﺬ‪ ،‬ﻳﺠﺐ ﻋﻠﻴﻚ اﻻﻟﺘﺰام ﺑﻬﺎ إذا ﻗﺮرت اﻻﺳﺘﻤﺮار ﻓﻲ اﺳﺘﺨﺪام ﻣﻨﺘﺠﺎت اﻟﺤﻤﺎﻳﻞ‪</p>

  <br>

  <p>‫وﻳﺴــﻌﺪﻧﺎ ﻛﺜﻴــﺮً ا أن ﺗﺴــﺘﻤﺮ ﻓــﻲ اﺳــﺘﺨﺪام ﻣﻨﺘﺠﺎﺗﻨــﺎ‪ ،‬إﻻ أﻧــﻪ إن ﻟــﻢ ﺗﻮاﻓــﻖ ﻋﻠــﻰ ﺷــﺮوﻃﻨﺎ اﻟﻤﺤﺪّ ﺛــﺔ
    وﻟــﻢ ﺗﻌــﺪ ﺗﺮﻳــﺪ‬ ‫أن ﺗﻜﻮن ﺟﺰءً ا ﻣﻦ ﻣﺠﺘﻤﻊ اﻟﺤﻤﺎﻳﻞ‪ ،‬ﻳﻤﻜﻨﻚ ﺣﺬف ﺣﺴﺎﺑﻚ ﻓﻲ أي وﻗﺖ ﺗﺸﺎء ‪.‬‬ </p>

  <p><b style="font-size: 22px">٦‬- ﺗﻌﻠﻖ اﻟﺤﺴﺎب ﻣﺆﻗﺘﺎ أو إﻧﻬﺎؤه</b></p>

  <p>ﻧﺮﻳــﺪ أن ﻳﺼﺒــﺢ اﻟﺤﻤﺎﻳــﻞ‬ ﻣﻜﺎﻧــﺎ ﻳﺴــﺘﻄﻴﻊ ﻣــﻦ ﺧﻼﻟــﻪ اﻷﺷــﺨﺎص اﻟﺘﻌﺒﻴــﺮ ﻋــﻦ أﻧﻔﺴــﻬﻢ وﻣﺸــﺎرﻛﺔ أﻓﻜﺎرﻫــﻢ‬
    ‫وآراﺋﻬﻢ ﺑﺤﺮﻳﺔ وأﻣﺎن ﺗﺎم ‪.‬‬</p>

  <br>

  <p>‫إذا ﺗﺒﻴــﻦ ﻟﻨــﺎ أﻧــﻚ ﻗــﺪ اﻧﺘﻬﻜــﺖ ﺷــﺮوﻃﻨﺎ وﺳﻴﺎﺳــﺎﺗﻨﺎ‪ ،‬ﻓﻘــﺪ ﻧﺘﺨــﺬ إﺟــﺮاءً ﺿــﺪ ﺣﺴــﺎﺑﻚ ﻟﺤﻤﺎﻳــﺔ ﻣﺠﺘﻤﻌﻨــﺎ
    واﻟﺨﺪﻣــﺎت‬ ‫اﻟﺘــﻲ ﻧﻘﺪﻣﻬــﺎ‪ ،‬ﺑﻤــﺎ ﻓــﻲ ذﻟــﻚ ﺗﻌﻠﻴــﻖ ﺻﻼﺣﻴــﺔ اﻟﻮﺻــﻮل إﻟــﻰ ﺣﺴــﺎﺑﻚ أو ﺗﻌﻄﻴﻠــﻪ‪ ،‬وﻳﺠــﻮز ﻟﻨــﺎ
    ً‬ ‫أﻳﻀــﺎ ﺗﻌﻠﻴــﻖ ﺣﺴــﺎﺑﻚ‬ ‫أو ﺗﻌﻄﻴﻠــﻪ إذا ﺗﺴــﺒﺒﺖ ﻓــﻲ ﻣﺨﺎﻃــﺮ أو ﻣﺸــﻜﻼت ﻗﺎﻧﻮﻧﻴــﺔ ﻟﻨــﺎ أو إذا ﺳــﻤﺢ ﻟﻨــﺎ
    اﻟﻘﺎﻧــﻮن ﺑﺎﻟﻘﻴــﺎم ﺑﺬﻟــﻚ أو ﻓﺮﺿــﻪ‬ ‫ﻋﻠﻴﻨــﺎ‪ ،‬وﻋﻨﺪﻣــﺎ ﻳﻘﺘﻀــﻲ اﻷﻣــﺮ ذﻟــﻚ‪ ،‬ﺳــﻨﺒﻠﻐﻚ ﺑﺘﻌﻠﻴــﻖ أو ﺗﻌﻄﻴــﻞ
    ﺻﻼﺣﻴــﺔ اﻟﻮﺻــﻮل إﻟــﻰ ﺣﺴــﺎﺑﻚ ﻓــﻲ اﻟﻤــﺮة‬ ‫اﻟﺘﺎﻟﻴﺔ اﻟﺘﻲ ﺗﺤﺎول ﻓﻴﻬﺎ اﻟﺪﺧﻮل إﻟﻴﻪ‪.‬‬</p>

  <br>

  <p>‫إذا ﻗﻤــﺖ ﺑﺤــﺬف ﺣﺴــﺎﺑﻚ أو ﻗﻤﻨــﺎ ﻧﺤــﻦ ﺑﺘﻌﻄﻴﻠــﻪ‪ ،‬ﻓﺴــﺘﻨﺘﻬﻲ ﺻﻼﺣﻴــﺔ ﻫــﺬه اﻟﺸــﺮوط ﻛﺎﺗﻔﺎﻗﻴــﺔ ﺑﻴﻨﻨــﺎ وﺑﻴﻨــﻚ
    .
    ‬‬ ‫وﻣــﻊ ذﻟــﻚ ‪ ،‬ﻳﺮﺟــﻰ ﻣﻼﺣﻈــﺔ أﻧــﻪ ﻓــﻲ ﺣﺎﻟــﺔ ﺗﻌﻄﻴــﻞ اﻟﺤﺴــﺎب ﻣــﻦ ﺟﺎﻧﺒﻨــﺎ ‪ ،‬ﻓﺴــﺘﺘﺎح ﻟــﻚ اﻟﻔﺮﺻــﺔ
    ﻻﺳــﺘﺮداد‬ اﻟﻤﻌﻠﻮﻣـات من حسابك فى غضون ٣٠‬ يوما من تاريخ تعطيله . بعد انقضاء فترة ٣٠‬ يوما , سيتم حذف المعلومات
    نهائيا</p>

  <br>

  <p> ‫ﺑﺎﻹﺿﺎﻓــﺔ إﻟــﻰ ذﻟــﻚ ‪ ،‬ﻳﺤــﻖ ﻟﻠﺤﻤﺎﻳــﻞ إﻧﻬــﺎء ﻫــﺬه اﻟﻤﻨﺼــﺔ أو أي ﻣــﻦ ﻣﻨﺘﺠﺎﺗﻬــﺎ وأي ﻣــﻦ ﺧﺪﻣﺎﺗﻬــﺎ ‪
    ،‬وﺳﺘﺴــﻌﻰ إﻟــﻰ‬ ‫ﺗﻘﺪﻳــﻢ إﺷــﻌﺎر ﻣﻌﻘــﻮل ﻟــﻚ وﺗﺮﺗﻴــﺐ ﺳــﺪاد اﻟﺮﺻﻴــﺪ اﻟﻤﺘﺒﻘــﻲ ﻣــﻦ رﺳــﻮم اﻟﻌﻀﻮﻳــﺔ اﻟﺴــﻨﻮﻳﺔ
    اﻟﻨﺸــﻄﺔ ﻋﻨﺪﻣــﺎ‬ ‫ﺗﺴﻤﺢ ﻟﻨﺎ اﻟﻈﺮوف اﻟﻘﻴﺎم ﺑﺬﻟﻚ‪.‬‬</p>

  <br>

  <p><b style="font-size: 22px">٧‬- ﺣﺪود اﻟﻤﺴﺆوﻟﻴﺔ</b></p>

  <p>‫ﻧﻌﻤــﻞ ﺟﺎﻫﺪﻳــﻦ ﻟﺘﻘﺪﻳــﻢ أﻓﻀــﻞ اﻟﻤﻨﺘﺠــﺎت ﻓﻀـ ًـﻼ ﻋــﻦ ﺗﻮﻓﻴــﺮ إرﺷــﺎدات واﺿﺤــﺔ ﻟــﻜﻞ ﻣــﻦ ﻳﺴــﺘﺨﺪﻣﻬﺎ‪ ،‬وﻋﻠــﻰ‬
    ‫اﻟﺮﻏــﻢ ﻣــﻦ ذﻟــﻚ‪ ،‬ﻓــﺈن ﻣﻨﺘﺠﺎﺗﻨــﺎ ُﺗﻘــﺪم "ﻛﻤــﺎ ﻫــﻲ"‪ ،‬وﻻ ُﻧﻘــﺪم أي ﺿﻤﺎﻧــﺎت ﺗﺠــﺎه ﺑﻘﺎﺋﻬــﺎ آﻣﻨــﺔ‪
    ،‬ﻣﺤﻤﻴــﺔ‪ ،‬أو ﺧﺎﻟﻴــﺔ‬ ‫ﻣــﻦ اﻷﺧﻄــﺎء‪ ،‬أو أﻧﻬــﺎ ﺳــﺘﻌﻤﻞ دون ﺣــﺎﻻت ﺗﻌﻄــﻞ أو ﺗﺄﺧﻴــﺮ أو ﺣــﺎﻻت ﺗﺸــﻐﻴﻞ ﻏﻴــﺮ
    ﻣﺜﺎﻟﻴــﺔ‪ .‬ﻛﻤــﺎ اﻧﻨــﺎ ﻻ ﻧﻘــﺪم‬ ‫أي وﻋــﻮد ﺑﺸــﺄن اﻟﻤﺤﺘــﻮى اﻟﻤﻘــﺪم أو دﻗﺘــﻪ أو ﻣﻮﺛﻮﻗﻴﺘــﻪ أو ﺗﻮﻓــﺮه أو
    ﻗﺪرﺗــﻪ ﻋﻠــﻰ ﺗﻠﺒﻴــﺔ اﺣﺘﻴﺎﺟﺎﺗــﻚ‪ .‬إﻟــﻰ اﻟﺤــﺪ‬ ‫اﻟــﺬي ﻳﺴــﻤﺢ ﺑــﻪ اﻟﻘﺎﻧــﻮن‪ ،‬ﻓﺈﻧﻨــﺎ ﻧﺨﻠــﻲ ﻣﺴــﺆوﻟﻴﺘﻨﺎ ً‬
    ‫أﻳﻀــﺎ ﺗﺠــﺎه ﻛﻞ أﻧــﻮاع اﻟﻀﻤﺎﻧــﺎت‪ ،‬ﺳــﻮاءً ﻛﺎﻧــﺖ ﺻﺮﻳﺤــﺔ أو‬ ‫ﺿﻤﻨﻴــﺔ‪ ،‬ﺑﻤــﺎ ﻓــﻲ ذﻟــﻚ اﻟﻀﻤﺎﻧــﺎت اﻟﻀﻤﻨﻴــﺔ
    ﻟﻠــﺮواج اﻟﺘﺠــﺎري‪ ،‬واﻟﻤﻼءﻣــﺔ ﻟﻐــﺮض ﻣﻌﻴــﻦ‪ ،‬وﻋــﺪم اﻧﺘﻬــﺎك اﻟﺤﻘــﻮق‬ ‫واﻟﻤﻠﻜﻴــﺔ‪ .‬ﻧﺤــﻦ ﻻ ﻧﺘﺤﻜــﻢ أو ﻧﻮﺟــﻪ
    اﻷﺷــﺨﺎص واﻵﺧﺮﻳــﻦ إﻟــﻰ ﻣــﺎ ﻳﺠــﺐ أن ﻳﻔﻌﻠــﻮه أو ﻳﻘﻮﻟــﻮه‪ ،‬وﻻ ﻧﺘﺤﻤــﻞ أي‬ ‫ﻣﺴــﺆوﻟﻴﺔ ﺗﺠــﺎه أﻓﻌﺎﻟﻬــﻢ أو
    ﺳــﻠﻮﻛﻴﺎﺗﻬﻢ (ﺳــﻮاء ﻛﺎﻧــﺖ ﻋﺒــﺮ اﻹﻧﺘﺮﻧــﺖ أو ﻓــﻲ اﻟﻮاﻗــﻊ) أو أي ﻣﺤﺘــﻮى ﻳﺸــﺎرﻛﻮﻧﻪ‬ ‫(ﺑﻤــﺎ ﻓــﻲ ذﻟــﻚ أي ﻣﺤﺘــﻮى
    ﻣﺴــﻲء أو ﻏﻴــﺮ ﻣﻼﺋــﻢ أو ﻓﺎﺣــﺶ أو ﻏﻴــﺮ ﻗﺎﻧﻮﻧــﻲ‪ ،‬وﻏﻴﺮﻫــﺎ ﻣــﻦ ﻋﻨﺎﺻــﺮ اﻟﻤﺤﺘــﻮى‬ ‫اﻟﻤﺮﻓﻮﺿﺔ) ‪.‬‬</p>

  <br>

  <p>ﻻ ﻳﻤﻜﻨﻨــﺎ اﻟﺘﻨﺒــﺆ ﺑﺎﻷوﻗــﺎت اﻟﺘــﻲ ﻳﻤﻜــﻦ أن ﺗﺤــﺪث ﺧﻼﻟﻬــﺎ ﻣﺸــﻜﻼت ﺗﺘﻌﻠــﻖ ﺑﻤﻨﺘﺠﺎﺗﻨــﺎ‪ .‬وﺑﻨــﺎءً ﻋﻠــﻰ ذﻟــﻚ‪
    ،‬ﻓــﺈن‬ ‫ﻣﺴــﺆوﻟﻴﺘﻨﺎ ﺗﻘﺘﺼــﺮ ﻋﻠــﻰ اﻟﺤــﺪ اﻷﻗﺼــﻰ اﻟــﺬي ﺗﺴــﻤﺢ ﺑــﻪ اﻟﻘﻮاﻧﻴــﻦ اﻟﺴــﺎرﻳﺔ‪ ،‬وﻟــﻦ ﻧﺘﺤﻤــﻞ أي
    ﻣﺴــﺆوﻟﻴﺔ ﺗﺤــﺖ أي‬ ‫ﻇــﺮف ﻣــﻦ اﻟﻈــﺮوف ﺗﺠــﺎه أي ﺧﺴــﺎﺋﺮ ﻓــﻲ اﻷرﺑــﺎح أو اﻹﻳــﺮادات أو اﻟﻤﻌﻠﻮﻣــﺎت أو اﻟﺒﻴﺎﻧــﺎت
    أو أي أﺿــﺮار ﺗﺒﻌﻴــﺔ أو‬ ‫ﺧﺎﺻــﺔ أو ﻏﻴــﺮ ﻣﺒﺎﺷــﺮة أو ﺗﺤﺬﻳﺮﻳــﺔ أو ﻋﻘﺎﺑﻴــﺔ أو ﻋﺎرﺿــﺔ ﺗﻨﺸــﺄ ﻋــﻦ أو ﺗﺮﺗﺒــﻂ
    ﺑﻬــﺬه اﻟﺸــﺮوط أو ﻣﻨﺘﺠــﺎت‬ ‫اﻟﺤﻤﺎﻳﻞ‪.‬‬</p>

  <p><b style="font-size: 22px">٨‬- اﻟﻨﺰاﻋﺎت‬</b></p>

  <p>‫ﻧﺴــﻌﻰ ﺟﺎﻫﺪﻳــﻦ إﻟــﻰ ﺗﻮﻓﻴــﺮ ﻗﻮاﻋــﺪ واﺿﺤــﺔ ﻟﻠﺤــﺪ ﻣــﻦ ﻧﺸــﻮب ﻧﺰاﻋــﺎت ﺑﻴﻨــﻚ وﺑﻴﻨﻨــﺎ‪ ،‬ﺑــﻞ وﻣﻨﻌﻬــﺎ‬
    ‫أﻣﻜــﻦ‪ ،‬وﻓــﻲ ﺣﺎﻟــﺔ ﻧﺸــﻮب ﻧــﺰاع‪ ،‬ﻋﻠــﻰ اﻟﺮﻏــﻢ ﻣــﻦ ذﻟــﻚ‪ ،‬ﺳﺘﺴــﺮي ﻗﻮاﻧﻴــﻦ ﻣﻤﻠﻜــﺔ اﻟﺒﺤﺮﻳــﻦ ﻋﻠــﻰ أي
    ﻣﻄﺎﻟﺒــﺔ أو‬ ‫ﺳــﺒﺐ دﻋــﻮى أو ﻧــﺰاع ﻟﺪﻳــﻚ ﺿﺪﻧــﺎ ﻳﻨﺸــﺄ ﻋــﻦ أو ﻳﺘﻌﻠــﻖ ﺑﻬــﺬه اﻟﺸــﺮوط أو اﻟﻤﻨﺘﺠــﺎت
    ("اﻟﻤﻄﺎﻟﺒــﺔ") ‪ ،‬وﻳﺠــﻮز ﻟــﻚ‬ ‫ﺣﻞ ﻣﻄﺎﻟﺒﺘﻚ ﻓﻲ ﻣﺤﺎﻛﻢ ﻣﻤﻠﻜﺔ اﻟﺒﺤﺮﻳﻦ‪.‬‬</p>

  <br>

  <p>‫ﻓــﻲ ﺣﺎﻟــﺔ ﺗﻌـّـﺬر ﺗﻨﻔﻴــﺬ أي ﺟــﺰء ﻣــﻦ ﻫــﺬه اﻟﺸــﺮوط‪ ،‬ﻓــﺈن اﻟﺠــﺰء اﻟﻤﺘﺒﻘــﻲ ﻳﻈــﻞ ﻧﺎﻓـ ً‬ ‫ـﺬا وﺳــﺎرﻳً ﺎ
    ﺑﺎﻟﻜﺎﻣــﻞ‪ ،‬إذا ﻋﺠﺰﻧــﺎ‬ ‫ﻋــﻦ ﺗﻨﻔﻴــﺬ أي ﺷــﺮط ﻣــﻦ ﻫــﺬه اﻟﺸــﺮوط‪ ،‬ﻓــﻼ ﻳﻌــﺪ ﻫــﺬا ﺗﻨـ ً‬ ‫ـﺎزﻻ ﻋﻨــﻪ‪ ،‬أي
    ﺗﻌﺪﻳــﻞ أو ﺗﻨــﺎزل ﻋــﻦ ﻫــﺬه اﻟﺸــﺮوط‬ ‫وﻣﻮﻗﻌﺎ ﺑﻮاﺳﻄﺘﻨﺎ ‪.‬‬ ‫ً‬ﻳﺠﺐ أن ﻳﻜﻮن ﻣﻜﺘﻮﺑً ﺎ‬ ‫ﻻ ﻳﺤــﻖ ﻟــﻚ ﻧﻘــﻞ أي ﻣــﻦ
    ﺣﻘﻮﻗــﻚ أو واﺟﺒﺎﺗــﻚ ﺑﻤﻮﺟــﺐ ﻫــﺬه اﻟﺸــﺮوط إﻟــﻰ أي ﺷــﺨﺺ آﺧــﺮ ﻣــﻦ دون اﻟﺤﺼــﻮل‬ ‫ﻋﻠﻰ ﻣﻮاﻓﻘﺘﻨﺎ ‪.‬‬</p>

  <p><b style="font-size: 22px">٩‬- أﺣﻜﺎم إﺿﺎﻓﻴﺔ‬</b></p>

  <p>أﻧﺖ ﺗﻮاﻓﻖ ﻋﻠﻰ اﻻﻟﺘﺰام ﺑﺸﺮوط اﻟﺪﻓﻊ واﻻﺷﺘﺮاﻛﺎت اﻟﺘﻲ ﺗﻮﺟﺪ ﻓﻲ‬ ‫ﻟﻦ ﺗﻘﻮم ﺑﻨﻘﻞ أي ﻣﻦ ﺣﻘﻮﻗﻚ أو اﻟﺘﺰاﻣﺎﺗﻚ ﺑﻤﻮﺟﺐ ﻫﺬه اﻟﺸﺮوط
    إﻟﻰ أي ﺷﺨﺺ آﺧﺮ دون ﻣﻮاﻓﻘﺘﻨﺎ‪.‬‬ ‫ﻻ ﺗﻤﻨــﺢ ﻫــﺬه اﻟﺸــﺮوط أي ﺣﻘــﻮق اﻧﺘﻔــﺎع ﻟﻄــﺮف ﺛﺎﻟــﺚ‪ّ ،‬‬ ‫إن ﺟﻤﻴــﻊ اﻟﺤﻘــﻮق
    واﻟﻮاﺟﺒــﺎت اﻟﻤﻜﻔﻮﻟــﺔ ﺑﻤﻮﺟــﺐ ﻫــﺬه‬ ‫اﻟﺸــﺮوط ﻗﺎﺑﻠــﺔ ﻟﻠﺘﺨﺼﻴــﺺ ﺑﺤﺮﻳــﺔ ﻣــﻦ ﻗﺒﻠﻨــﺎ ﻓﻴﻤــﺎ ﻳﺘﻌﻠــﻖ ﺑﺪﻣــﺞ اﻷﺻــﻮل
    أو ﺷــﺮاﺋﻬﺎ أو ﺑﻴﻌﻬــﺎ أو ﺑﻮاﺳــﻄﺔ‬ ‫ﺗﻨﻔﻴﺬ اﻟﻘﺎﻧﻮن أو ﺧﻼﻓﻪ ‪.‬‬</p>

  <br>

  <p>‫إذا ﺗﻐﻴــﺮت ﻣﻠﻜﻴــﺔ أو اﻟﺘﺤﻜــﻢ ﻓــﻲ ﻛﻞ ﻣﻨﺘﺠﺎﺗﻨــﺎ أو ﺟــﺰء ﻣﻨﻬــﺎ أو أﺻﻮﻟﻬــﺎ ‪ ،‬ﻓﻘــﺪ ﻧﻨﻘــﻞ ﻣﻌﻠﻮﻣﺎﺗــﻚ إﻟــﻰ
    اﻟﻤﺎﻟــﻚ‬ ‫اﻟﺠﺪﻳﺪ ﺑﻨﻔﺲ اﻟﺸﺮوط واﻷﺣﻜﺎم‪.‬‬ </p>

  <br>

  <p>ﻳﺠــﺐ أن ﺗﻌﻠــﻢ أﻧﻨــﺎ ﻗــﺪ ﻧﻀﻄــﺮ إﻟــﻰ ﺗﻐﻴﻴــﺮ اﺳــﻢ اﻟﻤﺴــﺘﺨﺪم اﻟﺨــﺎص ﺑﺤﺴــﺎﺑﻚ ﻓــﻲ ﻇــﺮوف ﻣﻌﻴﻨــﺔ (ﻋﻠــﻰ
    ﺳــﺒﻴﻞ‬ ‫اﻟﻤﺜــﺎل‪ ،‬إذا ﻃﺎﻟــﺐ ﺷــﺨﺺ آﺧــﺮ ﺑﺎﻟﺤﺼــﻮل ﻋﻠــﻰ اﺳــﻢ اﻟﻤﺴــﺘﺨﺪم ﻫــﺬا وﺛﺒــﺖ أﻧــﻪ ﻻ ﻳﺮﺗﺒــﻂ ﺑﺎﺳــﻤﻚ
    اﻟــﺬي‬ ‫ﺗﺴﺘﺨﺪﻣﻪ ﻓﻲ ﺣﻴﺎﺗﻚ اﻟﻴﻮﻣﻴﺔ) ‪.</p>

  <br>

  <p>داﺋﻤــﺎ ﻣﻼﺣﻈﺎﺗــﻚ واﻗﺘﺮاﺣﺎﺗــﻚ ﺑﺸــﺄن ﻣﻨﺘﺠﺎﺗﻨــﺎ وﺧﺪﻣﺎﺗﻨــﺎ‪ ،‬وﻟﻜــﻦ ﻳﻨﺒﻐــﻲ ﻋﻠﻴــﻚ أن ﺗﻌﻠــﻢ أﻧــﻪ ﻳﺤــﻖ ﻟﻨــﺎ‬
    ‫ُﻧﻘــﺪر‬ ‫اﺳﺘﺨﺪاﻣﻬﺎ دون أي ﻗﻴﻮد‪.‬‬

    ‫ﻧﺤﺘﻔﻆ ﺑﺠﻤﻴﻊ اﻟﺤﻘﻮق اﻟﺘﻲ ﻟﻢ ﻳﺘﻢ ﻣﻨﺤﻬﺎ ﻟﻚ ﺑﺸﻜﻞ ﺻﺮﻳﺢ‪.‬‬ ‫ﻳﺨﻀﻊ اﺳﺘﺨﺪام ﻫﺬه اﻟﺨﺪﻣﺔ ﻟﻬﺬه اﻟﺸﺮوط‪.‬‬</p>

  <br>

  <p> ﻋﻨــﺪ إﺧﺘﻴــﺎرك ﻟﻌﻼﻣــﺔ "ﻣﻮاﻓــﻖ" ﺗﻌﻨــﻰ اﻧــﻚ ﻗــﺮأت و اﻃﻠﻌــﺖ وواﻓﻘــﺖ ﻋﻠــﻰ ﻛﺎﻓــﺔ اﻟﺸــﺮوط و اﻷﺣــﻜﺎم
    اﻟــﻮاردة‬ ‫أﻋﻼه ‪.‬‬</p>
	
</body>

</html>