<div style="background:#edf0f3;">
    <div style="width:100%;text-align: center;">
        <picture>
            <source srcset="https://www.alhamayel.com/images/al-logo2.webp" type="image/webp">
            <source srcset="https://www.alhamayel.com/images/al-logo2.png" type="image/png">
            <img src="https://www.alhamayel.com/images/al-logo2.png" width="100" height="100">
        </picture>
    </div>
    <div style="width:100%;text-align: center;">
        <div style="display:inline-block;max-width: 512px;text-align:left;background: white; padding: 15px;">
            Dear Admin,<br><br>
            URGENT <br>Someone just registered/upgraded/topped up plan and paid using Bank Transfer Method:<br><br>
            Please note that their account won't be activated/plan won't be upgraded unless you confirm the bank transfer in the admin panel<br>
            <a href='<?=$url?>' target='_blank'>Go to Admin</a> <br><br>
            Regards.
        </div>
    </div>
    <div style="width:100%;text-align: center;">
        <div style="display:inline-block;max-width: 512px;padding: 15px 0">
            <hr>
            <small>If you have any questions please feel free to contact us at support@alhamayel.com</small>
        </div>
    </div>
</div>
